extends ./__template/template.pug

block variables
	- var seoTitle = 'Main'

block content
	section.app-section.app-main__tit
		.app-section-content
			h1 고문헌한자시스템
			p 본 서비스는 		
				span.br 누리IDT 고문헌 한자 OCR 시스템 웹사이트로
				span.br 고문헌 한자 자료를
				br.web
				| span.br 보다 효율적으로
				span.br OCR/입력, 열람, 검색, 활용할 수 있도록 
				span.br 기획한 서비스입니다.
	section.app-section.app-main__service
		.app-section-content
			.app-main__service-ocr.main-item
				.app-content-tit 고문헌 한자 OCR 서비스 
					span.br Beta
				.app-content-desc 본 서비스는 고문헌 한자에 특화된
					span.br 문자 인식 AI모델을 개발·적용하여
					br.web
					span.br 한자 텍스트를 추출하여 주는 서비스입니다.
				a.button-link.solid-button--md(role='button', data-theme='green')
					span.button-content 서비스 바로가기
				figure 
					img(src="./static/images/common/main-img-icon__ocr.png", alt="")
			.app-main__service-box
				.app-main__service-charactor.sub-item
					.app-content-tit.t01 한자 자형 검색 서비스
					.app-content-desc
						span.br
							span.hide 본 서비스는 
								| 한자의 음이나 부수, 획수를 알지 못하더라도 
						br.web
						span.br 한자를 구성하는 부수와 기타 자형의 모양을 
						span.br 조합(선택)하여 
						br.web
						span.br
							span.hide 원하는 글자를 
							| 쉽고 빠르게 찾을 수 있는 
						span.br 서비스입니다.
					a.button-link.solid-button--md(role='button', data-theme='white')
						.button-content 서비스 바로가기

				.app-main__service-typing.sub-item
					.app-content-tit.t01 누리 한자입력기
					.app-content-desc
						span.hide 본 서비스에서 활용되는 누리한자 입력기는
						br.web
						| 한자 자형을 보고 연상되는 한글의 자음, 모음, 
						span.br 기호를 결합하여&nbsp;
						span.br 간편하게 한자를
						span.br 입력할 수 있는 프로그램입니다.
					a.button-link.solid-button--md.is-disabled(role='button')
						.button-content 서비스 오픈 예정
			.app-main__service-box
				.app-main__service-img.main-item
					.app-content-tit 이미지 검색 서비스
					.app-content-desc
						span.hide 본 서비스는 디지털 텍스트가 없어도
						span.br 사용자가 보유한 
						br.web
						| 이미지에 한자 OCR 기술을 
						span.br 적용하여 
						br.web
						span.br 이미지 속의 단어를 검색
						span.br 활용할 수 있도록 해주는 
						br.web 
						| 검색 서비스입니다.
						p.info-msg ※ 본 서비스는 
							br.mob
							| 서울대학교 규장각한국학연구원의
							br
							| 과학문헌 자료를 적용하였습니다.
					a.button-link.solid-button--md(role='button', data-theme='green')
						.button-content 서비스 바로가기
					figure 
						img(src="./static/images/common/main-img-icon__search.png", alt="")
				.app-main__service-api.main-item
					.app-content-tit 고문헌 한자 OCR - API
					.app-content-desc
						span.br 각 기관에서 서비스 중인 웹사이트에
						br.web
						span.br 디지털 데이터가 없는 고문헌 이미지가 있다면,
						br.web
						span.br 당사가 제공하는 OCR API를 활용하십시오.
						br
						| 해당 이미지의 디지털 텍스트를
						br
						| 즉시 제공할 수 있습니다.
					a.button-link.solid-button--md.is-disabled(role='button')
						.button-content 서비스 오픈 예정
					figure 
						img(src="./static/images/common/main-img-icon__api.png", alt="")

