extends /__template/template.pug

block variables
	- var seoTitle = '한자 자형 검색' //| Learning Lounge/e-Campus


//- 추가할 CSS가 있는 경우
block append headCSS

//- 추가할 JS가 있는 경우(head 안)
block append headJS

block content