extends ../__template/sub-template.pug

block variables
	- var seoTitle = '한자 자형 검색'

block content
	section.app-section.app-sub__tit
		h1 한자 자형 검색
		button.line-button--md(type='button', data-theme='')
			span.button-content 도움말
				i.icon-css-tooltip 
	section.app-section.app-sub__grid.pg-jahyung
	