extends ../__template/sub-template.pug

block variables
	- var seoTitle = '한자 자형 검색'
	- var subPageClass = 'pg-id-jh'

block content
	section.app-section.app-sub__tit
		h1 한자 자형 검색
		include ../__includes/app-tooltip__jahyung.pug
	section.app-section.app-sub__grid.pg-jahyung 
		article.grid-article.charactor-list
			h2.grid-article__tit 자형 목록
				.button-area 
					button.line-button--sm.is-selected(type='button', data-theme='green')
						span.button-content 자형 펼쳐보기
					button.line-button--sm(type='button', data-theme='green')
						span.button-content 자형 모아보기
			.grid-article__content  
				.charactor-list__filter
					span.info-msg 아래 자형을 선택하면, 
						span.br 선택된 자형이 이곳에 보여집니다.
					button.solid-button--xs.filter-button__clear(type='button', data-theme='grey', data-round="sm")
						span.button-content 초기화
				ul.charactor-list__items
					li.filter-item 
						strong.tit .
						button(type="button")
							img(src="../static/images/_temp/charactor_sample.jpg", alt="")
						button(type="button")
							img(src="../static/images/_temp/charactor_sample.jpg", alt="")
						button(type="button")
							img(src="../static/images/_temp/charactor_sample.jpg", alt="")
					li.filter-item 
						strong.tit ㄱ
						button(type="button")
							img(src="../static/images/_temp/charactor_sample.jpg", alt="")
					li.filter-item 
						strong.tit ㄴ
						button(type="button")
							img(src="../static/images/_temp/charactor_sample.jpg", alt="")
						button(type="button")
							img(src="../static/images/_temp/charactor_sample.jpg", alt="")
						button(type="button")
							img(src="../static/images/_temp/charactor_sample.jpg", alt="")
						button(type="button")
							img(src="../static/images/_temp/charactor_sample.jpg", alt="")
						button(type="button")
							img(src="../static/images/_temp/charactor_sample.jpg", alt="")
						button(type="button")
							img(src="../static/images/_temp/charactor_sample.jpg", alt="")
						button(type="button")
							img(src="../static/images/_temp/charactor_sample.jpg", alt="")
						button(type="button")
							img(src="../static/images/_temp/charactor_sample.jpg", alt="")
						button(type="button")
							img(src="../static/images/_temp/charactor_sample.jpg", alt="")
						button(type="button")
							img(src="../static/images/_temp/charactor_sample.jpg", alt="")
						button(type="button")
							img(src="../static/images/_temp/charactor_sample.jpg", alt="")
						button(type="button")
							img(src="../static/images/_temp/charactor_sample.jpg", alt="")
						button(type="button")
							img(src="../static/images/_temp/charactor_sample.jpg", alt="")
						button(type="button")
							img(src="../static/images/_temp/charactor_sample.jpg", alt="")
						button(type="button")
							img(src="../static/images/_temp/charactor_sample.jpg", alt="")
		article.grid-article.ocr-txt.is-disabled
			h2.grid-article__tit 한자 상세보기
			.grid-article__content 
		article.grid-article.ocr-info.is-disabled
			h2.grid-article__tit 한자정보 및 수정
			.grid-article__content 
				.detail-box