<!DOCTYPE html>
html(lang="ko")
	head
		meta(charset="UTF-8")
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title (주)누리idt &#8211; 지능형 데이터 전문 기업
		style. 
			.path-route{position:relative;width:100%;height:100vh;text-align:center;background-color:#333;color:#fff;font-size:16px;line-height:1.6}
			.path-route h1{padding:100px 0 45px;font-size:28px}
			.path-list{display:flex;align-items:center;justify-content:center;grid-gap:50px;width:100%}
			.path-list__item{aspect-ratio:1/1;}
			.path-list__item--link{padding:40px;border:1px solid #ddd;box=sizing:border-box}
			.path-list__item--link:hover{background-color:#111;color:#444;border:0}

	body
		.path-route
			h1 누리 IDT 홈페이지 재구축
			ul.path-list
				li.path-list__item 
					a(href="__path/path-web.html", target="_blank").path-list__item--link PC
				li.path-list__item 
					a(href="__path/path-mobile.html", target="_blank").path-list__item--link Mobile