{
    "presets": ["es2015"],
    "singleQuote": true,
    "semi": true,
    "useTabs": false,
    "tabWidth": 2,
    "trailingComma": "all",
    "printWidth": 200,
    "overrides": [
        {
            "files": ["*.md"],
            "options": {
                "useTabs": false,
                "tabWidth": 1
            }
        },
        {
            "files": ["*.js", "*.json"],
            "options": {
                "printWidth": 80
            }
        }
    ]
}
