extends /__template/template.pug

block variables
	- var seoTitle = 'Main'

block content
	section.app-section.app-main__tit
		.app-section-content
			h1 고문헌한자시스템
			p 본 서비스는 누리IDT 고문헌 한자 OCR 시스템 웹사이트로 고문헌 한자 자료를
				br
				| 보다 효율적으로 OCR/입력, 열람, 검색, 활용할 수 있도록 기획한 서비스입니다.
	section.app-section.app-main__service
		.app-section-content
			.app-main__service-ocr.main-item
				.app-content-tit 고문헌 한자 OCR 서비스 Beta
				.app-content-desc 본 서비스는 고문헌 한자에 특화된 문자 인식 AI모델을 개발·적용하여
					br
					| 한자 텍스트를 추출하여 주는 서비스입니다.
				a.button-link.solid-button--md(role='button', data-theme='green')
					span.button-content 서비스 바로가기
				figure 
					img(src="/static/images/common/main-img-icon__ocr.png", alt="")
			.app-main__service-box
				.app-main__service-charactor
					.app-content-tit.t01 한자 자형 검색 서비스
					.app-content-desc 본 서비스는 한자의 음이나 부수, 획수를 알지 못하더라도
							br
							| 한자를 구성하는 부수와 기타 자형의 모양을 조합(선택)하여
							br
							| 원하는 글자를 쉽고 빠르게 찾을 수 있는 서비스입니다.
					a.button-link.solid-button--md(role='button', data-theme='white')
						.button-content 서비스 바로가기

				.app-main__service-typing
					.app-content-tit.t01 누리 한자입력기
					.app-content-desc 본 서비스에서 활용되는 누리한자 입력기는
						br
						| 한자 자형을 보고 연상되는 한글의 자음, 모음, 기호를 결합하여
						br
						| 간편하게 한자를 입력할 수 있는 프로그램입니다.
					a.button-link.solid-button--md.is.disabled(role='button')
						.button-content 서비스 오픈 예정
			.app-main__service-img.main-item
				.app-content-tit 이미지 검색 서비스
				.app-content-desc 본 서비스는 디지털 텍스트가 없어도 사용자가
					br
					| 보유한 이미지에 한자 OCR 기술을 적용하여
					br
					| 이미지 속의 단어를 검색 활용할 수 있도록 해주는 검색 서비스입니다.
					p.info-msg ※ 본 서비스는 서울대학교 규장각한국학연구원의 과학문헌 자료를 적용하였습니다.
				a.button-link.solid-button--md(role='button', data-theme='green')
					.button-content 서비스 바로가기
				figure 
					img(src="/static/images/common/main-img-icon__search.png", alt="")

