block variables

footer.app-footer
	.app-footer-msg 향후 지속적인 문자 인식 AI모델 개발과 
		span.br 검증 작업을 통해 보완하여 
		span.br 정식 서비스로 5월에 오픈할 예정입니다. 
		span.br 많은 이용 바랍니다.
	.app-footer-content
		.app-footer__address
				i.icon-app-footer__ci
					span.a11y-hidden 누라IDT
				i.icon-app-footer__ci_m
					span.a11y-hidden 누라IDT
				p
					span 서울특별시 영등포구 선유로 146, 405호
					span.br (이앤씨드림타워)
					span 문의 :
						a(href="mailto:bschoi0321@nuriidt.co.kr") bschoi0321@nuriidt.co.kr
		button.btn-link__privacy.line-button--md(type='button', data-theme='white')
			span.button-content 개인정보처리방침