nav.app-nav 
	.app-nav-content 
		.app-nav-header 
			button(type="button").btn-close 
				i.icon-css-close
		.app-header-util
			button.line-button--sm(type='button', data-theme='green', data-round="sm")
				span.button-content 로그인
			button.line-button--sm(type='button', data-theme='green', data-round="sm")
				span.button-content 회원가입
		.app-nav-menu 
			ul 
				li
					a(href="" role="button") 고문헌 한자 OCR 서비스
				li
					a(href="" role="button") 한자 자형 검색 서비스
				li
					a(href="" role="button") 누리 한자입력기
				li
					a(href="" role="button") 이미지 검색 서비스
		.button-unit
			button.solid-button--xs(type='button', data-theme='green', data-round="sm")
				span.button-content 가격정책
			button.solid-button--xs(type='button', data-theme='green', data-round="sm")
				span.button-content FAQ