header(class="app-header") 
	.app-header-content
		.app-header-ci
			a(href="javascript:;", class="ci") 
				i.icon-app-header__ci
				i.icon-app-header__ci_m
				span.a11y-hidden 누리IDT 고문헌한자시스템
		.app-header-util
			button.line-button--sm(type='button', data-theme='green', data-round="sm")
				span.button-content 로그인
			button.line-button--sm(type='button', data-theme='green', data-round="sm")
				span.button-content 회원가입
			span.button-unit
				button.solid-button--xs(type='button', data-theme='green', data-round="sm")
					span.button-content 가격정책
				button.solid-button--xs(type='button', data-theme='green', data-round="sm")
					span.button-content FAQ
		include app-nav.pug