block variables

footer.app-footer
	div.app-footer-content
		p.app-footer-ci
			//- img(src="/images/ui22/common/ci-footer-wh.png", alt="")
			//- span.a11y-hidden Hyundai AutoEver
			.app-footer__address
				span 고객센터 080-224-9696 / 위탁교육 운영지원 담당자 이메일 주소 070856f34@hyundai-autoever.com
				span.app-footer__business-hours 평일 08:00 ~ 12:00, 13:00 ~ 18:00
			p.app-footer__copyright COPYRIGHT 2016  HYUNDAI AUTOEVER. ALL RIGHTS RESERVED.