block variables

footer.app-footer.only-msg
	.app-footer-msg
		p 궁금한 내용은 누리IDT로 문의 바랍니다.
		strong Tel. 
		a(href="tel:070-7405-5332") 070 7405 5332
		span |
		strong Mail.
		a(href="mailto:bschoi0321@nuriidt.co.kr") bschoi0321@nuriidt.co.kr