block variables

footer.app-footer
	.app-footer-content
		.app-footer__address
				i.icon-app-footer__ci
					span.a11y-hidden 누라IDT
				p
					span 서울특별시 영등포구 선유로 146, 405호(이앤씨드림타워)
					span 문의 : bschoi0321@nuriidt.co.kr
		button.btn-link__privacy.line-button--md(type='button', data-theme='white')
			span.button-content 개인정보처리방침