div.is-fixed-tooltip
	.tooltip-wrap
		//- button.solid-button--sm.tooltip-button__open(role='button', data-theme='grenn', data-round="md")
			span.button-content API 이용방법
		button.line-button--md.tooltip-button__open(type='button')
			span.button-content API 이용방법
			i.icon-css-tooltip 
		.tooltip.auto-height 
			ul 
				li 
					strong 
						em API 이용방법
					p 본 서비스는 각 기관에서 서비스 중인 고문헌 이미지 서비스에 당사에서 제공하는 OCR API를 활용하여 해당 이미지에서 추출한 OCR 텍스트를 제공하는 시범 서비스입니다.
					p ‘고문헌 한자 OCR’의 기능을 API를 통해 쉽게 이해하고 활용할 수 있습니다.
					p 이용문의는 아래 연락처를 통해 연락 주십시오.
					p
						a.link-type--box(role="button", href="mailto:nuriidt@nuriidt.co.kr") nuriidt@nuriidt.co.kr
			.button-area
				button.line-button--sm.tooltip-button__close(type='button', data-theme='grey')
					span.button-content 닫기
			button.btn-close(type='button')
				i.icon-css-close__circle