.pd0 {
  padding: 0 !important;
}

.pd40 {
  padding: 40rem !important;
}

.pdt0 {
  padding-top: 0 !important;
}

.pdt10 {
  padding-top: 10rem !important;
}

.pdt20 {
  padding-top: 30rem !important;
}

.pdt30 {
  padding-top: 30rem !important;
}

.pdt40 {
  padding-top: 40rem !important;
}

.pdt60 {
  padding-top: 60rem !important;
}

.pdt70 {
  padding-top: 70rem !important;
}

.pdr0 {
  padding-right: 0 !important;
}

.pdr10 {
  padding-right: 10rem !important;
}

.pdr30 {
  padding-right: 30rem !important;
}

.pdb0 {
  padding-bottom: 0 !important;
}

.pdb10 {
  padding-bottom: 10rem !important;
}

.pdb15 {
  padding-bottom: 15rem !important;
}

.pdb20 {
  padding-bottom: 20rem !important;
}

.pdb30 {
  padding-bottom: 30rem !important;
}

.pdb40 {
  padding-bottom: 40rem !important;
}

.pdb60 {
  padding-bottom: 60rem !important;
}

.pdb100 {
  padding-bottom: 100rem !important;
}

.pdl0 {
  padding-left: 0 !important;
}

.pdl10 {
  padding-left: 10rem !important;
}

.pdl20 {
  padding-left: 20rem !important;
}

.pdl24 {
  padding-left: 24rem !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mt4 {
  margin-top: 4rem !important;
}

.mt5 {
  margin-top: 5rem !important;
}

.mt6 {
  margin-top: 6rem !important;
}

.mt10 {
  margin-top: 10rem !important;
}

.mt16 {
  margin-top: 16rem !important;
}

.mt20 {
  margin-top: 20rem !important;
}

.mt26 {
  margin-top: 26rem !important;
}

.mt20 {
  margin-top: 20rem !important;
}

.mt30 {
  margin-top: 30rem !important;
}

.mt40 {
  margin-top: 40rem !important;
}

.mt50 {
  margin-top: 50rem !important;
}

.mt60 {
  margin-top: 60rem !important;
}

.mt80 {
  margin-top: 80rem !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mr10 {
  margin-right: 10rem !important;
}

.mr20 {
  margin-right: 20rem !important;
}

.mr25 {
  margin-right: 25rem !important;
}

.mr30 {
  margin-right: 30rem !important;
}

.mr40 {
  margin-right: 40rem !important;
}

.mr50 {
  margin-right: 50rem !important;
}

.mr100 {
  margin-right: 100rem !important;
}

.mr180 {
  margin-right: 180rem !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb10 {
  margin-bottom: 10rem !important;
}

.mb20 {
  margin-bottom: 20rem !important;
}

.mr120 {
  margin-right: 120rem !important;
}

.ml8 {
  margin-left: 8rem !important;
}

.ml10 {
  margin-left: 10rem !important;
}

.ml14 {
  margin-left: 14rem !important;
}

.ml20 {
  margin-left: 20rem !important;
}

.ml24 {
  margin-left: 24rem !important;
}

.ml25 {
  margin-left: 25rem !important;
}

.ml30 {
  margin-left: 30rem !important;
}

.ml40 {
  margin-left: 40rem !important;
}

.ml60 {
  margin-left: 60rem !important;
}

a.link {
  color: blue;
  text-decoration: underline;
  word-break: break-all;
}

.full {
  width: 100% !important;
}

.align-l {
  text-align: left;
}

.align-c {
  text-align: center;
}

.align-r {
  text-align: right;
}

.w-44 {
  width: 44rem !important;
}

.w-50 {
  width: 50rem !important;
}

.w-58 {
  width: 58rem !important;
}

.w-60 {
  width: 60rem !important;
}

.w-66 {
  width: 66rem !important;
}

.w-70 {
  width: 70rem !important;
}

.w-72 {
  width: 72rem !important;
}

.w-76 {
  width: 76rem !important;
}

.w-78 {
  width: 78rem !important;
}

.w-82 {
  width: 82rem !important;
}

.w-87 {
  width: 87rem !important;
}

.w-96 {
  width: 96rem !important;
}

.w-100 {
  width: 100rem !important;
}

.w-105 {
  width: 105rem !important;
}

.w-110 {
  width: 110rem !important;
}

.w-120 {
  width: 120rem !important;
}

.w-122 {
  width: 122rem !important;
}

.w-130 {
  width: 130rem !important;
}

.w-140 {
  width: 140rem !important;
}

.w-160 {
  width: 160rem !important;
}

.w-156 {
  width: 156rem !important;
}

.w-160 {
  width: 160rem !important;
}

.w-170 {
  width: 170rem !important;
}

.w-180 {
  width: 180rem !important;
}

.w-190 {
  width: 190rem !important;
}

.w-200 {
  width: 200rem !important;
}

.w-210 {
  width: 210rem !important;
}

.w-220 {
  width: 220rem !important;
}

.w-240 {
  width: 240rem !important;
}

.w-250 {
  width: 250rem !important;
}

.w-268 {
  width: 268rem !important;
}

.w-280 {
  width: 280rem !important;
}

.w-293 {
  width: 293rem !important;
}

.w-300 {
  width: 300rem !important;
}

.w-310 {
  width: 310rem !important;
}

.w-320 {
  width: 320rem !important;
}

.w-340 {
  width: 340rem !important;
}

.w-360 {
  width: 360rem !important;
}

.w-390 {
  width: 390rem !important;
}

.w-364 {
  width: 364rem !important;
}

.w-440 {
  width: 440rem !important;
}

.w-490 {
  width: 490rem !important;
}

.w-500 {
  width: 500rem !important;
}

.w-530 {
  width: 530rem !important;
}

.w-540 {
  width: 540rem !important;
}

.w-546 {
  width: 546rem !important;
}

.w-580 {
  width: 580rem !important;
}

.w-596 {
  width: 596rem !important;
}

.w-600 {
  width: 600rem !important;
}

.w-620 {
  width: 620rem !important;
}

.w-630 {
  width: 630rem !important;
}

.w-656 {
  width: 656rem !important;
}

.w-690 {
  width: 690rem !important;
}

.w-705 {
  width: 705rem !important;
}

.w-760 {
  width: 760rem !important;
}

.w-777 {
  width: 777rem !important;
}

.w-780 {
  width: 777rem !important;
}

.w-830 {
  width: 830rem !important;
}

.w-848 {
  width: 848rem !important;
}

.w-857 {
  width: 857rem !important;
}

.w-1100 {
  width: 1100rem !important;
}

.w-1200 {
  width: 1200rem !important;
}

.w-1300 {
  width: 1300rem !important;
}

.h1 {
  font-size: 58rem;
  line-height: 52rem;
  font-weight: 700;
}

.h2 {
  font-size: 42rem;
  line-height: 38rem;
  font-weight: 500;
}

.h3 {
  font-size: 28rem;
  line-height: 32rem;
  font-weight: 500;
}

.h4 {
  font-size: 18rem !important;
  line-height: 29rem !important;
  font-weight: 500 !important;
}

.b1 {
  font-size: 18rem;
  line-height: 29rem;
  font-weight: 400;
}
.b1-bold {
  font-size: 18rem;
  line-height: 29rem;
  font-weight: 700;
}
.b1-medium {
  font-size: 18rem;
  line-height: 29rem;
  font-weight: 500;
}

.b2 {
  font-size: 16rem !important;
  line-height: 26rem !important;
  font-weight: 400 !important;
}
.b2-medium {
  font-size: 16rem !important;
  line-height: 26rem !important;
  font-weight: 500 !important;
}

.b3 {
  font-size: 14rem !important;
  line-height: 22rem !important;
  font-weight: 400 !important;
}
.b3-medium {
  font-size: 14rem !important;
  line-height: 22rem !important;
  font-weight: 500 !important;
}

.b4 {
  font-size: 12rem;
  line-height: 19rem;
  font-weight: 400;
}
.b4-medium {
  font-size: 12rem;
  line-height: 19rem;
  font-weight: 500;
}

.c-green02 {
  color: #dff1dc !important;
}

.c-red {
  color: #bf0000 !important;
}

.bg-grey {
  background-color: #f4f4f4 !important;
}

.primary-color {
  background-color: #06711e;
}

.primary-color01 {
  background-color: #06711e !important;
}

.primary-color02 {
  background-color: #509d5f !important;
}

.jc-center {
  justify-content: center;
}

.ps-re {
  position: relative;
}

.self-align-r {
  justify-self: flex-end;
}

.flex-justify-between {
  justify-content: space-between !important;
}

.flex-align-stretch {
  align-items: stretch !important;
}

.flex-align-center {
  align-items: center !important;
}

.overflow-visible {
  overflow: visible !important;
}

.flex-box {
  display: flex !important;
}

.pos-s {
  position: static !important;
}

.font-medium {
  font-weight: 500 !important;
}
