block variables

footer.app-footer
	.app-footer-msg 이 사이트는 크롬 브라우저에 최적화되어 있습니다. 
		span.br 다만 폰트 지원 문제로 확장 한자 영역의 일부 글자가 
		span.br 깨져 보이는 경우가 있습니다.
	.app-footer-content
		.app-footer__address
				i.icon-app-footer__ci
					span.a11y-hidden 누라IDT
				i.icon-app-footer__ci_m
					span.a11y-hidden 누라IDT
				p
					span 서울특별시 영등포구 선유로 146, 405호
					span.br (이앤씨드림타워)
					span 문의 :
						a(href="mailto:bschoi0321@nuriidt.co.kr") bschoi0321@nuriidt.co.kr
		button.btn-link__privacy.line-button--md(type='button', data-theme='white')
			span.button-content 개인정보처리방침