extends ../__template/template.pug

block variables
	- var seoTitle = '사업실적';
	- var pgVal = 'sub';
	- var pageTitle = 'COMPANY';

block content
	.app-content
		// HISTOFY
		aritlce.app-article.article-history.theme-dark
			.app-article__content 
				.app-article__item.article-history__list.wide
					ol.history-year
						li.history-year__item 
							strong.history-year__tit 2023
							ul.history-detail 
								li.history-detail__item 2023년 공공저작물 디지털 개방을 위한 저작권 확보 지원
									ul.history-detail__add
										li  - 주관기관 : 한국문화정보원
								li.history-detail__item 동국여지지, 부안읍지, 태인군읍지 한문 고서의 한자 검출 및 인식 학습용 라벨 데이터 구축
									ul.history-detail__add
										li - 주관기관 : 한국전자통신연구원
								li.history-detail__item 2023년 규장각 소장 기록문화유산 DB구축
									ul.history-detail__add 
										li - 주관기관 : 서울대학교규장각한국학연구원
								li.history-detail__item 고문헌 디지털 이미지 업로드 
									ul.history-detail__add 
										li - 주관기관 : 서울대학교규장각한국학연구원
								li.history-detail__item 문화유산 연구기록물 저작권 관리확인 및 확보
									ul.history-detail__add 
										li - 주관기관 : 국립문화재연구원
								li.history-detail__item 국학분야 인공지능 자동번역 시스템 구축
									ul.history-detail__add 
										li - 주관기관 :  한국국학진흥원
						li.history-year__item 
							strong.history-year__tit 2022
							ul.history-detail 
								li.history-detail__item 고서 문자 검출 및 인식 학습용 라벨 데이터 구축
									ul.history-detail__add
										li - 주관기관 : 한국전자통신연구원
								li.history-detail__item 고서한자 OCR 데이터(인공지능데이터구축)
									ul.history-detail__add
										li - 전담기관 : 한국지능정보사회진흥원
								li.history-detail__item 2022년 공공저작물 디지털 개방을 위한 저작권 확보 지원
									ul.history-detail__add
										li - 주관기관 : 한국문화정보원
								li.history-detail__item 2022년 규장각 소장 기록유산 DB 구축
									ul.history-detail__add
										li - 주관기관 : 서울대학교 규장각한국학연구원
								li.history-detail__item 2022년 인공지능 한문 번역을 위한 조사·연구, DB구축 및 OCR 프로그램 개발
									ul.history-detail__add
										li - 주관기관 : 한국국학진흥원
						li.history-year__item 
							strong.history-year__tit 2021
							ul.history-detail 	
								li.history-detail__item 고서 문자 검출 및 인식 학습용 라벨 데이터 구축
									ul.history-detail__add
										li - 주관기관 : 한국전자통신연구원
								li.history-detail__item 손글씨 및 고서한자 OCR 데이터(인공지능데이터구축)
									ul.history-detail__add
										li - 전담기관 : 한국지능정보사회진흥원
								li.history-detail__item 공공저작물 저작권 권리 확인 및 처리 사업
									ul.history-detail__add
										li - 주관기관 : 한국문화정보원
								li.history-detail__item 2021년도 고문헌 디지털 현상 복제 사업
									ul.history-detail__add
										li - 주관기관 : 서울대학교 규장각한국학연구원
								li.history-detail__item 2021년 규장각 소장 기록유산 DB구축
									ul.history-detail__add
										li - 주관기관 : 서울대학교 규장각한국학연구원
						li.history-year__item 
							strong.history-year__tit 2020
							ul.history-detail 
								li.history-detail__item 2020년 인공지능학습데이터 구축 ‘고서 한자 인식(OCR) AI데이터’
									ul.history-detail__add
										li - 전담기관 : 한국지능정보사회진흥원(NIA)
								li.history-detail__item 2020년 규장각 소장 기록유산 DB구축
									ul.history-detail__add
										li - 주관기관 : 서울대학교 규장각한국학연구원
								li.history-detail__item 연구자 및 내외기관 학술정보서비스를 위한 자체 촬영 이미지 보정 및 DB구축 사업
									ul.history-detail__add
										li - 주관기관 : 서울대학교 규장각한국학연구원
								li.history-detail__item 2020년도 고문헌 디지털 현상 복제 사업
									ul.history-detail__add
										li - 주관기관 : 서울대학교 규장각한국학연구원
								li.history-detail__item 공공저작물 저작권권리 실태 시범조사
									ul.history-detail__add
										li - 주관기관 : 한국문화정보원
								li.history-detail__item 데이터바우처 지원사업(가공) ‘인공지능 기반 고전문헌 자동표점 학습데이터’
									ul.history-detail__add
										li - 지원기관 : 한국데이터산업진흥원
								li.history-detail__item 위치기반 스마트 다국어 관광해설시스템 구축사업
									ul.history-detail__add
										li - 주관기관 : 경상남도청
						li.history-year__item 
							strong.history-year__tit 2019
							ul.history-detail 
								li.history-detail__item 2019년도 ICT기반 공공서비스 촉진사업 ‘클라우드 기반 고문헌 자동번역 확산 서비스 구축’
									ul.history-detail__add
										li - 전문기관 : 한국정보화진흥원
										li - 주관기관 : 한국고전번역원, 한국천문연구원
								li.history-detail__item 2019년도 규장각 소장 기록유산 DB 구축사업
									ul.history-detail__add
										li - 주관기관 : 서울대학교 규장각한국학연구원
								li.history-detail__item 공공저작물 권리확인 및 색인 지원
									ul.history-detail__add
										li - 주관기관 : 한국문화정보원
								li.history-detail__item DBpia 및 XML 품질검수
									ul.history-detail__add
										li - 주관기관 : (주)누리미디어
						li.history-year__item 
							strong.history-year__tit 2018
							ul.history-detail 
								li.history-detail__item 서산시 다국어 관광해설 시스템 구축 사업
									ul.history-detail__add
										li - 주관기관 : 충청남도 서산시청
								li.history-detail__item 2018년도 누리터 산출물 관리체계 구축
									ul.history-detail__add
										li - 주관기관 : (주)누리미디어
								li.history-detail__item 2018년도 ICT기반 공공서비스 촉진사업 ‘인공지능 기반 고전문헌 자동번역시스템 고도화’
									ul.history-detail__add
										li - 전문기관 : 한국정보화진흥원
										li - 주관기관 : 한국고전번역원, 충남대학교
								li.history-detail__item 2018년도 규장각 소장 기록유산 DB 구축사업
									ul.history-detail__add
										li - 주관기관 : 서울대학교 규장각한국학연구원
								li.history-detail__item 공공저작물 권리확인 전수조사단 운영 사업
									ul.history-detail__add
										li - 주관기관 : 한국문화정보원
								li.history-detail__item 의방유취 데이터 검색인터페이스 개발
									ul.history-detail__add
										li - 주관기관 : 경희대학교
						li.history-year__item 
							strong.history-year__tit 2017
							ul.history-detail 
								li.history-detail__item ㈜누리미디어의 공공 및 지식정보화 사업부문 독립 분사
									ul.history-detail__add
										li - ※ ㈜누리미디어 지식정보사업부 → ㈜누리IDT
		
		article.app-article.article-counting-info
			.app-article__content 
				.app-article__tit
					span 공공·민간 전문 데이터 관련 사업
					strong
						span 16년간 150여회 수행
				.app-article__item.counting-box
					ul 
						li 
							strong.counting-val 
								em.counter 33
								| 회
							span.counting-label 국가DB 사업
						li 
							strong.counting-val 
								em.counter 28
								| 회
							span.counting-label 주관사업자
						li 
							strong.counting-val 
								em.counter 66
								| 회
							span.counting-label 고전문헌 관련 사업
						li 
							strong.counting-val 
								em.counter 12
								| 회
							span.counting-label 공공저작물 개방 지원 사업
		
		article.app-article.app-bg-desc
			.app-article__content 
				.app-article__item
					.app-txt-list
						p.tit 고객 기관에서 인정하는 전문성과 신뢰성
						ul.txt-list
							li 한국언론진흥재단 사업 18회 수행 (2008∼2015) : 고신문 DB 구축 및 서비스 개발
							li 한국국학진흥원 사업 16회 수행 (2005∼2022) : 고문헌 DB 구축 및 서비스 개발
							li 한국고전번역원 사업 16회 수행 (2007∼2019) : 고문헌 DB 구축 및 서비스 개발
								span.app-desc-note ※ 인공지능 기반 고전문헌 자동번역시스템 기계학습용 고전문헌 코퍼스 구축(2017∼2019)
							li 한국한의학연구원 사업 8회 수행 (2004∼2008) : 고문헌 DB 구축
							li 한국문화정보원 사업 11회 수행 (2012∼2022) : 공공저작물 수집 및 저작권 권리 처리
							li 한국저작권위원회 사업 5회 수행 (2012∼2016) : 공공 및 공유 저작물 수집 및 저작권 권리 처리
							li 서울대학교 규장각한국학연구원 사업 5회 수행 (2018~2022) : 고문헌 DB 구축 및 서비스 개발


block prepend pageScript
	script(src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js")
	script(src="../static/lib/counterUp.js")