extends ../__template/template.pug

block variables
	- var seoTitle = '회사소개';
	- var pgVal = 'sub';
	- var pageTitle = 'COMPANY';

block content
	.app-content
		// VISUAL
		article.app-article.article-intro.full
			.app-article__content
				.app-article__item.article-intro__visual
					h2.visual-tit 데이터의 미래 가치를 만드는
						br
						| 지능형 데이터 전문기업 누리IDT
				.app-article__item.article-intro__desc
					blockquote 
						strong ‘데이터는 21세기의 원유이며, 데이터가 미래 경쟁 우위를 좌우한다’
						span 가트너(Gartner. 미국 시장조사 및 IT 분야 전문 컨설팅 그룹)
						p 이 말은 빅데이터, 머신러닝, 인공지능, IoT 등 격변하는 4차 산업혁명 시대를 살아가고 있는 바로
							br
							| 오늘의 우리들이 늘 되새겨야 할 금언입니다.
					p ㈜누리IDT는 데이터의 미래 가치를 인식하고 고객의 미래 준비를 도와드리는 지능형 데이터 분야
						br
						| 전문기업입니다. 보유하고 계신 데이터의 정보화와 웹서비스를 넘어, 최신 기술을 적용하여 고효율을
						br
						| 이끌어낼 수 있는 데이터 정제, 가공, 융합 그리고 개방과 활용을 (주)누리IDT와 상의하십시오.
		// HISTOFY
		aritlce.app-article.article-history
			.app-article__content 
				.app-article__item.article-history__list
					ol.history-year
						li.history-year__item 
							strong.history-year__tit 2023
							ul.history-detail 
								li.history-detail__item 누리 고문헌 OCR(광학문자인식) 서비스
									ul.history-detail__add
										li - 저작권등록 제C-2023-053977 호
								li.history-detail__item 한자자형검색서비스
									ul.history-detail__add
										li - 저작권등록 제C-2023-053976 호
								li.history-detail__item 2023년 강소기업인증
									ul.history-detail__add
										li - 고용노동부(제 2023-05106 호)
						li.history-year__item 
							strong.history-year__tit 2022
							ul.history-detail 
								li.history-detail__item 자체개발프로그램 저작권 등록
									br
									| NAHBS (NuriIDT Ai Hanja Big data Solution)
									ul.history-detail__add
										li - 인공지능기반 대용량 한자입력 솔루션
										li - 저작권등록 제 C-2022-027428 호
								li.history-detail__item 한국문화정보원 우수 파트너 업체 선정
								li.history-detail__item 2022년 강소기업인증
									ul.history-detail__add
										li - 고용노동부
						li.history-year__item 
							strong.history-year__tit 2021
							ul.history-detail 
								li.history-detail__item 자체개발프로그램 저작권 등록
									br
									| NPM (NuriIDT Punctuation Maker)
									ul.history-detail__add
										li - 고문헌 표점 자동 입력기
										li - 저작권 등록 제 C-2021-009904 호
						li.history-year__item 
							strong.history-year__tit 2020
							ul.history-detail 
								li.history-detail__item 연구전담부서 등록 (솔루션개발부, 제 2020151452호)
								li.history-detail__item 사옥 이전 (양평동 사옥 이전)
						li.history-year__item 
							strong.history-year__tit 2019
							ul.history-detail 
								li.history-detail__item 과학기술정보통신부 표창
									ul.history-detail__add 
										li - 대표이사 ICT 융합 분야 공로 표창 수상
						li.history-year__item 
							strong.history-year__tit 2018
							ul.history-detail 
								li.history-detail__item 자체개발프로그램 저작권 등록 (3종)
									br
									| NCM (NuriIDT Corpus Maker)
									ul.history-detail__add 
										li - 인공지능 자동번역 기계학습용 코퍼스 구축 솔루션(원문·번역문 말뭉치)
										li - 저작권 등록 제 C-2018-009319 호
								li.history-detail__item NIT’S 30 (NuriIDT Intelligent Tools)
									ul.history-detail__add 
										li - 각종 대량 파일 및 데이터 일괄 가공 처리 솔루션(수정, 변환, 추출, 생성 등)
										li - 저작권 등록 제 C-2018-009317 호
								li.history-detail__item NNT (NuriIDT Newspaper Tools)
									ul.history-detail__add 
										li - 신문 데이터베이스 구축 솔루션(기사별 신문지면상 위치와 기사본문 텍스트 맵핑 구축)
										li - 저작권 등록 제 C-2018-009318 호
								li.history-detail__item 기술보증기금 지정 벤처기업(기술평가보증기업) 지정
								li.history-detail__item 중소기업중앙회 직접생산확인 등록 (자료처리/소프트웨어개발)
								li.history-detail__item 한국소프트웨어 산업협회 소프트웨어사업자 신고확인
								li.history-detail__item 중소벤처기업부 중소기업 확인 등록
						li.history-year__item 
							strong.history-year__tit 2017
							ul.history-detail 
								li.history-detail__item ㈜누리미디어의 공공 및 지식정보화 사업부문 독립 분사
									br
									| ※ ㈜누리미디어 지식정보사업부 → ㈜누리IDT

