extends ../__template/template.pug

block variables
	- var seoTitle = '누리한자입력기';
	- var pgVal = 'sub';
	- var pageTitle = 'SERVICE';

block content
	.app-content

		article.app-article.article-sub-visual
			.app-article__content
				.app-article__item 
					figure 
						img(src="../static/images/page/service-input-chinese.png", alt="")
				.app-article__tit
					h2.app-pg-tit 누리한자입력기
						strong.sub-tit NuriIDT Chinese Character Input Tools
					p.app-pg-desc 한자 모양을 보고 연상되는 한글의 자음, 모음, 기호를 결합하여 한자를 쉽게 입력할 수 있는 프로그램입니다.
					a(href="javascript:;", role="button").app-button.line-button.disabled
						span.button-content 서비스 오픈	예정
		
		article.app-article
			.app-article__content
				.app-article__item
					ul.item-list.type-bdcolor(data-col="3")
						li.item-list__item
							i.icon-pc-finger-check
							strong.item-list__item-tit 한글 자모음, 기호 조합
							P.item-list__item-desc 한자의 모양과 비슷한 한글 자음, 모음
								br 
								| 또는 기호를 선택합니다.
						li.item-list__item 
							i.icon-pc-compare
							strong.item-list__item-tit 이미지와 대조 입력
							P.item-list__item-desc 원문 이미지와 비교하며 한자를
								br
								| 입력할 수 있습니다.
						li.item-list__item 
							i.icon-pc-search
							strong.item-list__item-tit 한자 상세정보 제공
							p.item-list__item-desc 선택한 글자의 이체자 정보와
								br
								| 음, 뜻, 획수, 유니코드를 제공합니다.
								
		article.app-article.article-inquiry
			.app-article__content
				h3.app-article__tit.type-h4 궁금하신가요?
				.app-article__item
					p.app-article__desc 문의하기를 통해 연락주시면
						br
						| 신속하고 성실하게 답변드리겠습니다.
					a.app-button.solid-button(href="contact.html", role="button") 문의하기
					