extends ../__template/template.pug

block variables
	- var seoTitle = 'NPM';
	- var pgVal = 'sub';
	- var pageTitle = 'SOLUTION';

block content
	.app-content

		article.app-article.article-sub-visual
			.app-article__content.column-reverse
				.app-article__item 
					figure 
						img(src="../static/images/page/solution-npm.png", alt="")
				.app-article__tit
					h2.app-pg-tit NPM
						strong.sub-tit NuriIDT Punction Maker
					p.app-pg-desc 고문헌 한문 번역을 위해 필요한 과정인 표점 작업을 자동으로 수행해주는 프로그램입니다. 표점이 없는 원문 텍스트 파일에 자동으로 표점을 입력해줍니다.
						br
						br
						| 저작권등록 제C-2021-009904호
		// 주요 기능
		article.app-article
			.app-article__content
				h3.app-article__tit 주요 기능
				.app-article__desc.type-main
					p.align-left 
				ol.step-grid(data-column="5")
					li.step-grid__item 
						dl.item-box
							dt 
								span.icon-box
									icon.icon-pc-automark
								strong 자동표점
							dd 표점이 없는 원문 텍스트에
								br
								| 자동표점
					li.step-grid__item 
						dl.item-box
							dt 
								span.icon-box
									icon.icon-pc-automark-edit
								strong 표점 수정
							dd 자동표점 교정 및 수정
					li.step-grid__item 
						dl.item-box
							dt 
								span.icon-box
									icon.icon-pc-worktree
								strong 작업내역 관리
							dd 통계 및 메모 기능
					li.step-grid__item 
						dl.item-box
							dt 
								span.icon-box
									icon.icon-pc-dictionary
								strong 사전 관리
							dd 원전 낱말 사전, 사용자 사전,
								br
								| 규칙사전 등 사전 생성/수정 관리
					li.step-grid__item 
						dl.item-box
							dt 
								span.icon-box
									icon.icon-pc-user
								strong 사용자 관리
							dd 사용자 조회, 등록, 삭제,
								br
								| 권한설정, 그룹설정 관리

		article.app-article.article-inquiry
			.app-article__content
				h3.app-article__tit.type-h4 궁금하신가요?
				.app-article__item
					p.app-article__desc 문의하기를 통해 연락주시면
						br
						| 신속하고 성실하게 답변드리겠습니다.
					a.app-button.solid-button(href="contact.html", role="button") 문의하기
					