//* 해상도 분기점 *
// 1. PC : 1200px ~
// 2. Mobile : 360 ~ 767


// * Common
body {
  word-break:break-all;font-size:16px;line-height:1.6;color:#fff;color:$color-gr__47;
  --plan-color-1:var(--green-1);
  --plan-color-2:var(--green-2);
  --footer-height:240px; // header 82+ footer 240+ progressbar 8
  --excpt-height:330px; // header 82+ footer 240+ progressbar 8
}
body.is-hidden {overflow:hidden}
.blind{@include a11y-hidden}

// Old School
.align-center{text-align:center}
.align-left{text-align:left}
.align-right{text-align:right}
.flex-box{@include flex-center;grid-gap:80px;
  &__set{
    .flex-box{grid-gap:100px;padding:0 100px;}
  }
  &__item{flex:1}
  &.justify-start{@include flex-start;
    .flex-box__item{flex:none}
  }
  @at-root .theme-dark &{
    &+ .flex-box{margin-top:80px;padding-top:80px;border-top:1px solid $color-gr__47}
  }
}
.grid-box{display:grid;grid-template-columns:repeat(2, 1fr);grid-gap:80px;align-items:center;}

// LAYOUT
.app {overflow:hidden;min-height:100vh;
  &-container{padding-top:102px}
  &-content{position:relative;min-width:1200px;margin:0 auto;}
  &-article{
    position:relative;display:block;width:100%;padding:100px 0 110px;
    &__content{
      position:relative;max-width:1200px;margin:0 auto;
      @at-root .app-article.full &{max-width:100%}
    }
    &__tit{
      position:relative;margin-bottom:40px;@include text($size:40px, $weight:700);color:#2e2e2e;
      &.type-h2{font-size:50px;margin-bottom:40px}
      &.type-h4{@extend .item-tit;text-align:center;}
    }
    &__desc{margin-bottom:60px;font-size:18px;color:#181818;line-height:1.8;font-weight:400;
      &.type-main{font-size:20px;font-weight:300;text-align:center;color:$color-gr__47}
      p{
        &+p{margin-top:20px}
        &.top-line{margin-top:15px;padding-top:15px;border-top:1px solid #222;font-size:17px}
      }
      
    }
    &.theme-dark{padding-top:100px;padding-bottom:110px;color:#fff;background-color:#181818;
      .app-article__tit{color:#fff}
      .app-article__desc,
      figcaption{color:#d1d1d1}
      &__bg{@extend .theme-dark;background:#181818 url(../images/page/main-service__bg.jpg) center no-repeat;background-size:cover;}
    }
  }
  &-pg-tit{margin-bottom:100px;font-size:50px}
}
// HEADER
.app-header{position:fixed;top:0;left:0;z-index:$zlv10;width:100%;background-color:rgba(255, 255, 255, 1);border-bottom:1px solid rgba(230,230,230,.7);transition:background 0.3s ease;
  &__ci-link{display:block;padding:21px 0}
  &__content{@include flex-justify;width:1200px;margin:0 auto}
  &__gnb{display:block;
    &-item{position:relative;display:inline-block;margin-left:50px;
      a{display:inline-block}
    }
    .depth1 > li{
      &:hover{
        .depth2{height:auto;border-top:4px solid $color-point;
          li{opacity:1}
        }
        > a{color:$color-point;
          &::after{border-color:$color-point}
          span::after{transform-origin:top left;transform:scale(1);}
        }
      }
      &.is-active{
        > a{
          color:$color-point;
          &:has( + .depth2)::after{border-color:$color-point}
          span::after{transform-origin:top left;transform:scale(1)}
        }
      }
      > a{width:auto;height:102px;font-size:17px;line-height:102px;font-weight:400;color:#777;transition:color 0.25s ease;
        span{position:relative;display:inline-block;line-height:1;
          &::after{position:absolute;left:0;bottom:-8px;content:'';display:block;width:100%;height:2px;background-color:$color-point;
            transform-origin:top right;transform:scale(0);transition:transform .25s cubic-bezier(0, 0, .2, 1);
          }
        }
        &:has( + .depth2)::after{content:'';display:inline-block;width:7px;height:7px;margin-top:-9px;margin-left:9px;border-right:1px solid #000;border-bottom:1px solid #000;transform:rotate(45deg);vertical-align:middle}
      }
    }
    .depth2{position:absolute;top:100%;left:0;height:0;background-color:rgba(255,255,255,.95);overflow:hidden;
      box-shadow: 0 1px 0 1px rgba(0,0,0,.018),1px 10px 5px rgba(0,0,0,.015);
      li{opacity:0;transition:opacity 0.25s cubic-bezier(.74, .01, .36, 1);
        a{min-width:190px;padding:13px 16px 14px;font-size:16px;line-height:1.12;border-bottom:1px solid rgba(226,227,227,0.7);
          &:hover{color:$color-point;background-color:rgba(226,227,227,.27)}
        }
      }
    }
  }
  &.is-sticky{background-color:rgba(255,255,255,.89)}
}
.app-breadcrumb{min-width:1200px;
  .pg-tit{width:100%;height:80px;font-size:28px;color:#fff;line-height:80px;background-color:$color-point;text-align:center}
  &__box{width:100%;padding:30px 0 20px;background-color:#0B091D}
  &__list{@include flex-center;min-width:600px;margin:0 auto;
    &.wide{max-width:950px}
  }
  &__item{
    &.is-active .app-breadcrumb__link{color:$color-point;border-bottom-color:$color-point}
  }
  &__link{display:block;width:100%;padding:10px 15px;font-size:17px;font-weight:400;color:#C5C5C5;border-bottom:1px solid #C6C6C6;text-align:center}
}

// FOOTER
.app-footer{position:relative;width:100%;padding-top:40px;padding-bottom:60px;background-color:#212121;line-height:2.3;
  &__tit{font-size:13px;font-weight:400}
  &__content{max-width:1200px;margin:0 auto;color:#fff;
    p{font-size:13px;font-weight:400;
      span+span::before{content:"";display:inline-block;width:1px;height:.9em;background-color:rgba(255,255,255,.5);margin:0 10px 0 6px;vertical-align:middle}
    }
  }
  .button-area{margin-bottom:20px;text-align:right}
}

// ELEMENTS
// * ICON
[class^=icon-app] {display:inline-block;white-space:nowrap;text-indent:200%;overflow:hidden;vertical-align:middle}
.icon-app-header__ci{width:161px;height:60px;background:url(../images/common/app-header__logo.png) no-repeat;background-size:contain}
.icon-box{display:inline-block;text-align:center;vertical-align:middle;
  &__100{@extend .icon-box;width:100px;height:100px}
}
// * BUTTON
[role='button'] + [role='button'],
[type='button'] + [type='button'],
[role='button'] + [type='button'],
[type='button'] + [role='button'] {margin-left:10px}
.button-content + [class*='icon-'],
[class*='icon-'] + .button-content {
  margin-left:4px;vertical-align:middle;
}
.app-button{display:inline-flex;align-items:center;justify-content:center;padding:15px 40px 15px 40px;box-sizing:border-box;border-radius:3px;transition:all 0.3s;
  .button-content{font-size:15px;line-height:1;}
}
.txt-button{font-size:16px;font-weight:400;
  &:hover{text-decoration:underline}
}
.solid-button{@extend .app-button;background-color:#181818;color:#fff;
  &.round{border-radius:4px}
  &:hover{background-color:#454545}
}
.line-button{@extend .app-button;color:$color-point;fill:$color-point;border:2px solid $color-point;
  &:not(.is-ready):hover{color:#fff;background-color:$color-point}
  
}
a:not(.app-button):hover{text-decoration:underline}
.app-bg-desc{padding-top:110px;padding-bottom:120px;font-size:30px;font-weight:500;line-height:1.8;color:$color-gr__47;background-color:$color-bg;text-align:center}
.app-desc-note{display:block;font-size:15px;color:#7d7d7d;}
.app-txt-list{
  @include flex-center;flex-wrap:wrap;
  .tit{width:100%;margin-bottom:40px;font-weight:700}
  .list{text-align:left;
    li{margin-bottom:10px;font-size:17px;color:#656565;list-style:disc;font-weight:400;
      &::marker{font-size:10px;color:#0BA348}
    }
  }
}
.item{
  &-tit{margin-bottom:40px;font-size:30px}
  &-desc{font-size:18px;color:$color-gr__b1}
  &-detail{padding-left:18px;
    li{margin-bottom:20px;list-style:disc;
      strong{font-size:20px}
      p{margin-top:5px;font-size:18px;color:$color-gr__b1}
    }
  }
  &-list{@include flex-stretch;grid-gap:60px;padding-top:20px;
    &__item{flex:1;padding:50px 30px 50px 30px;border:1px solid #C9C9C9;border-radius:20px;text-align:center;transition:box-shadow 0.3s ease;
      [class^="icon"]{margin-bottom:40px}
      &-tit{display:block;margin-bottom:20px;font-size:20px;font-weight:700}
      &-desc{color:#757575;
        &+.app-button{margin-top:40px}
      }
    }
    &[data-col="3"]{grid-gap:45px;
      .ite-list__item{max-width:410px}
    }
    &[data-col="4"]{grid-gap:30px}
    @at-root .theme-dark &{
      &__item-desc{color:#d1d1d1}
    }
    &.box-shadow{
      .item-list__item:hover{box-shadow:0px 20px 50px -35px rgba(0,0,0,0.5)}
    }
    &.type-bdcolor{
      .item-list__item{border-width:2px;
        &:nth-child(1){border-color:$color-gr-step2}
        &:nth-child(2){border-color:$color-gr-step1}
        &:nth-child(3){border-color:$color-point}
        &-tit{color:$color-gr__47;font-size:17px;font-weight:500}
        &-desc{font-size:15px}
      }
    }
  }
}
.figure-radius{border-radius:20px;overflow:hidden}
figcaption{font-size:18px;font-weight:400;
  p+p{margin-top:20px}
}
.step-grid{display:flex;align-items:stretch;justify-content:center;flex-wrap:wrap;grid-gap:20px;
  &[data-column="1"] .step-grid__item{flex:none;width:500px}
  &[data-column="3"]{grid-gap:40px}
  &[data-column="4"]{grid-gap:30px;
    .step-grid__item{width:360px;}
  }
  &[data-column="5"]{padding:0 30px;grid-gap:30px;
    .step-grid__item{flex:none;}
  }
  &[data-column="auto"]{grid-gap:30px;
    .step-grid__item{flex:none;}
  }
  &.gap80{grid-gap:80px}
  &__item{flex:1;min-width:268px;border-radius:20px;border:1px solid #E0E0E0;text-align:center;
    .item-link{display:block;width:100%;height:100%;transition:box-shadow 0.3s ease;
      &:hover{box-shadow: 0px 10px 70px -40px rgba(0,0,0,0.5);text-decoration:none !important}
    }
    .item-label{display:block;padding:10px;background-color:$color-gr-step3;color:#fff;font-size:17px;font-weight:400;border-top-left-radius:20px;border-top-right-radius:20px}
    &:nth-child(2) .item-label{background-color:$color-gr-step2}
    &:nth-child(3) .item-label{background-color:$color-gr-step1}
    &:nth-child(4) .item-label{background-color:$color-point}
    .item-box{padding:40px;
      .icon-box,
      .icon-box__100{margin-bottom:20px}
      figure{margin-bottom:30px}
      dt{margin-bottom:5px;;
        strong{display:block;font-weight:500;color:$color-gr__47}
      }
      dd{font-size:15px;color:#757575;
        span{display:block;margin-top:10px}
      }
    }
  }
  @at-root .theme-dark &{
    &__item .item-box{
      dt strong{color:#fff}
      dd{color:#d1d1d1}
    }
  }
}