//* 해상도 분기점 *
// 1. PC : 1200px ~
// 2. Mobile : 360 ~ 767


// * Common
body {
  word-break:break-all;font-size:16px;line-height:1.6;color:#fff;color:#000;
  --green-1:#00ef86;
  --green-2:#008eb9;
  --blue-2:#3d00cc;
  --blue-1:#008cff;
  --purple-1:#5f36f4;
  --purple-2:#3d2aa4;
  --red-1:#ec3258;
  --red-2:#c000b6;
  --yellow-1:#fcda00;
  --yellow-2:#ec3258;
  --plan-color-1:var(--green-1);
  --plan-color-2:var(--green-2);
  --footer-height:240px; // header 82+ footer 240+ progressbar 8
  --excpt-height:330px; // header 82+ footer 240+ progressbar 8
}
body.is-hidden {overflow:hidden}
.blind{@include a11y-hidden}

// Old School
.align-center{text-align:center}
.align-right{text-align:right}

// LAYOUT
.app {overflow:hidden;min-height:100vh;
  &-container{

  }
  &-content{position:relative;min-width:1200px;margin:0 auto;padding-bottom:108px}
  &-article{
    position:relative;width:100%;
    &__content{
      position:relative;max-width:1200px;margin:0 auto;
    }
    &__tit{
      position:relative;@include text($size:34px, $weight:700);
    }
  }
}
// HEADER
.app-header{position:fixed;top:0;left:0;z-index:$zlv10;width:100%;background-color:rgba(255, 255, 255, 1);border-bottom:1px solid rgba(230,230,230,.7);transition:background 0.3s ease;
  &__ci-link{display:block;padding:21px 0}
  &__content{@include flex-justify;width:1200px;margin:0 auto}
  &__gnb{display:block;
    &-item{position:relative;display:inline-block;margin-left:50px;
      a{display:inline-block}
    }
    .depth1 > li > a{width:auto;height:102px;font-size:17px;line-height:102px;font-weight:400;color:#333;
      &:has( + .depth2)::after{content:'';display:inline-block;width:7px;height:7px;margin-top:-9px;margin-left:9px;border-right:1px solid #000;border-bottom:1px solid #000;transform:rotate(45deg);vertical-align:middle}
    }
    .depth2{position:absolute;bottom:0;left:0;display:none;
      box-shadow: 0 1px 0 1px rgba(0,0,0,.018),1px 10px 5px rgba(0,0,0,.015);
      li{
        a{padding:13px 16px 14px;font-size:16px;border-bottom:1px solid rgba(226,227,227,0.7);background-color:#fff}
      }
    }
  }
}

// FOOTER
.app-footer{position:relative;width:100%;
  &__content{

  }
  &-tit{

  }
}

// ELEMENTS
// * ICON
[class^=icon-app] {display:inline-block;white-space:nowrap;text-indent:200%;overflow:hidden;vertical-align:middle}
.icon-app-header__ci{width:161px;height:60px;background:url(../images/common/app-header__logo.png) no-repeat;background-size:contain}
// * BUTTON
[role='button'] + [role='button'],
[type='button'] + [type='button'],
[role='button'] + [type='button'],
[type='button'] + [role='button'] {margin-left:10px}
.button-content + [class*='icon-'],
[class*='icon-'] + .button-content {
  margin-left:4px;vertical-align:middle;
}
.app-button{display:inline-flex;align-items:center;justify-content:center}
.solid-button{@extend .app-button;min-width:74px;padding:10px 24px;@include text($size:14px, $lh:21px, $weight:700);background-color:$color-purple;color:#fff;
  &.round{border-radius:4px}
}