/******************************************/
/******************************** M A I N */
/******************************************/
.pg-main{
  .app-article{padding:80px 0;
    &__tit{font-size:34px;text-align:center}
    &.article-intro{padding:0}
  }
}
.article-intro{width:100%;min-width:100%;padding:0;
  &__visual{position:relative;@include flex-center;;min-height:420px;background:url(../images/page/main-intro__bg.jpg) center no-repeat;background-size:cover;
    &::before{position:absolute;top:0;left:0;content:'';width:100%;height:100%;background-color:#000;opacity:0.72}
    .visual-tit{position:relative;font-size:50px;color:#fff;text-align:center;}
  }
  &__desc{padding:60px 0 70px;text-align:center;background-color:$color-bg;
    blockquote{padding:10px;
      strong{display:block;margin-bottom:15px;font-size:30px;}
      span{font-size:21px;font-weight:500}
      p{margin-top:50px;font-size:17px;line-height:1.9}
    }
    > p{position:relative;margin-top:30px;padding-top:30px;font-size:17px;line-height:1.9;color:$color-point;font-weight:500;
      &::before{position:absolute;top:0;left:calc(50% - 50px);content:'';display:block;width:100px;height:1px;background-color:#adadad}
    }
  }
}
.article-clients{
  .clients-list{display:grid;grid-template-columns:repeat(4, 1fr);grid-gap:0 40px;text-align:center;}
}
.article-inquiry{background-color:$color-bg;
  .app-article__item{text-align:center}
}

/******************************************/
/********************************** S U B */
/******************************************/
.article-sub-visual{padding:40px 0 60px;background-color:#181818;
  .app-article{
    &__content{display:flex;align-items:flex-start;justify-content:center;grid-gap:80px}
    &__tit{flex:1;
      .app-pg-tit{margin-bottom:20px;color:#fff}
      .sub-tit{display:block;margin-bottom:40px;font-size:20px;color:#d1d1d1;}
      .app-pg-desc{margin-bottom:60px;font-size:17px;font-weight:400;color:#d1d1d1;}
    }
    &__item{flex:1;font-size:50px;color:#fff;
      figure{text-align:center}
    }
  }
}
.article-history{
  &__list{max-width:800px;margin:0 auto}
  .history-year{
    &__item{@include flex-start;grid-gap:0 60px;padding-bottom:55px;margin-bottom:50px;border-bottom:1px solid #DADADA;
      &:nth-child(3n+2) .history-year__tit{background-color:$color-gr-step2}
      &:nth-child(3n+3) .history-year__tit{background-color:$color-gr-step3}
      &:last-child{margin-bottom:0;border:0}
    }
    &__tit{display:block;width:117px;height:62px;text-align:center;line-height:62px;border-radius:10px;background-color:$color-point;color:#fff;font-size:22px;font-weight:500px}
  }
  .history-detail{flex:1;padding-left:40px;
    &__item{margin-bottom:20px;list-style:disc;font-size:18px;color:#555;line-height:1.8;font-weight:400;
      &:last-child{margin-bottom:0}
    }
    &__add{font-size:16px;color:#757575}
  }
  &.theme-dark{
    .article-history__list{max-width:930px;padding-top:0}
    .history-year{
      &__tit{width:140px;padding:0;font-size:30px;background:none}
      &__item{padding-bottom:60px;margin-bottom:55px;border-bottom-color:#686868;
        &:nth-child(n) .history-year__tit{background:none}
      }
    }
    .history-detail{
      &__item,
      &__add{color:#fff;font-weight:400}
    }
  }
}
/****** 사업실적 ******/
.article-data-visual{
  .img-type{
    .app-article__tit,
    .app-article__desc{text-align:left}
    .detail-info{
      dt{margin-bottom:10px;font-size:25px;font-weight:700;line-height:1.2}
      dd{margin-bottom:35px;font-size:17px;color:#d1d1d1}
    }
  }
  .list-type{margin-top:120px;
    .app-article__desc{margin-bottom:60px;font-size:20px;color:#fff;text-align:center}
    .about-solution{@include flex-center;grid-gap:0 20px;
      dl{flex:1;padding:40px 20px 45px 20px;text-align:center;border-radius:20px;background-color:#E6E6E6;
        dt{margin-bottom:20px;color:#000;font-size:20px;font-weight:700}
        dd{color:$color-gr__47}
      }
    }
  }
  &.theme-dark{background-image:none}
}
.article-counting-info{
  .app-article{
    &__tit{text-align:center;
      > span{font-size:30px}
      strong{position:relative;display:block;font-size:70px;color:$color-point;
        &::before{content:'';display:block;position:absolute;bottom:0;left:50%;transform:translateX(-50%);width:698px;height:25px;background:url(../images/page/sub-tit__bg-line.png)}
        span{position:relative}
      }
    }
    &__item{margin-top:100px;padding:10px;
      ul{display:flex;
        li{flex:1;padding:10px;text-align:center}
        .counting-val{font-size:60px;font-weight:500}
        .counting-label{display:block;font-size:17px;line-height:2.5;font-weight:400;color:#848484}
      }
    }
  }
}
.article-why-idt{
  .app-article__tit.type-h2{margin-bottom:100px}
}