.js_layered(data-layered-name="ocr-info")
  .app-layered__tit 고문헌 한자 OCR Beat서비스 이용안내
  .app-layered__content
    p 본 서비스는 인공지능 서버의 
      span.br 안정적인 운영을 위하여
      br
      | Beta서비스는 
      span.br 1일 이미지 5면의 서비스를 제공하며,
      br
      | 정식 서비스는 유료로 전환될 예정입니다.
  .btn-area 
    span.form-selector
      input#todayViewChkbox(type="checkbox")
      label(for="todayViewChkbox") 오늘 하루 보지 않기
    button.js_layered-close.line-button--sm(type='button', data-theme='white')
      span.button-content 닫기
button.js_layered-close
  i.icon-css-close__white
    span.ir 닫기