mixin svg-icon(icon,size)
	span(class='icon-svg__'+size)
		include ../__svgs/ai-data.pug
	case icon 
		when 'ai-data'
			include ../__svgs/ai-data.pug
		when 'ai-service'
			include ../__svgs/ai-service.pug
		when 'chinese'
			include ../__svgs/chinese.pug
		when 'compare'
			include ../__svgs/compare.pug
		when 'doc'
			include ../__svgs/doc.pug
		when 'explore'
			include ../__svgs/explore.pug
		when 'finger-check'
			include ../__svgs/finger-check.pug 
		when 'ocr'
			include ../__svgs/ocr.pug
		when 'public'
			include ../__svgs/public.pug
		when 'search'
			include ../__svgs/search.pug
		when 'thumb-up'
			include ../__svgs/thumb-up.pug
		when 'tool'
			include ../__svgs/tool.pug