block variables

<!DOCTYPE html>
html(lang="ko")
	include ../__includes/app-head.pug

	block headCSS
		link(rel="stylesheet", href='../static/lib/jquery-ui.min.css')
		link(rel="stylesheet", href='../static/css/ui.css')

	body
		.app.pg-sub
			include ../__includes/app-header.pug

			main.app-container
				include ../__includes/app-breadcrumb.pug
				block content

			include ../__includes/app-footer.pug

		block bodyScript 
			script(src="../static/lib/jquery-3.4.1.min.js")
			script(src="../static/lib/jquery-ui.min.js")
			script(src="../static/js/ui.js")