block variables

<!DOCTYPE html>
html(lang="ko")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width")
		//- SEO
		title #{seoTitle} | 누리IDT고문헌한자시스템
		meta(name="Description", CONTENT="")
		link(rel="canonical", href="https://campus.hyundai.com/")

		//- OPEN GRAPH
		meta(property="og:type", content="website")
		meta(property="og:url", content="")
		meta(property="og:title", content="")
		meta(property="og:image", content="/image/og/og.png")
		meta(property="og:description", content="")
		//- meta(property="og:site_name", content="Nuri IDT ")
		meta(property="og:locale", content="ko_KR")

		block headCSS
			link(rel="stylesheet", href='../static/css/ui.css')
		//- 		link(rel="stylesheet", href='/css/template/template10/pc/swiper.min.css')
		//- 		link(rel="stylesheet", href='/css/template/template10/pc/jquery-ui.min.css')

	body
		.app.sub-page
		
			include ../__includes/app-header.pug

			.app-container
					main.app-content
							block content

			include ../__includes/app-footer.pug

		block bodyJS 
			script(src="../static/js/jquery-3.6.0.min.js")
			script(src="../static/js/ui.js")

		block addJs
			
		block layered
		