header#header.app-header
  h2.blind 헤더 영역
  .app-header__content
    h1.app-header__ci
      a.app-header__ci-link(href='#', name="KBS Media")
        i.icon-common-app-header__ci
        span.blind KBS Media 음원 유통 관리 시스템
    nav.app-header__gnb
      ul
        li.app-header__gnb-item
          a(href='main.html') 파트너
        li.app-header__gnb-item
          a(href='main.html') 콘텐츠
        li.app-header__gnb-item
          a(href='main.html') 발매앨범
        li.app-header__gnb-item
          a(href='main.html') FAQ
    .app-header__menu
      ul
        li.app-header__menu-item
          a(href='distribution-process.html') 음원유통신청
        li.app-header__menu-item
          a(href='javascript:;') 정산내역확인
    button.app-button.app-header__menu-btn(type="button")
      span.button-content
        i.icon-css-menu 
          span.blind 전체 메뉴 버튼