footer#footer.footer.app-footer
  .footer-box
    .footer-l
      h4 KBS미디어
        ul.footer-sns-links 
          li 
            a(href="") 
              span.blind instagram 
              i.icon-common-app-footer__sns-instagram
          li 
            a(href="") 
              span.blind facebook
              i.icon-common-app-footer__sns-facebook
          li 
            a(href="") 
              span.blind youtube
              i.icon-common-app-footer__sns-youtube
      ul.footer-info.link 
        li 
          a(href="") FAQ
        li 
          a(href="") 개인정보수집 및 이용방안
      ul.footer-info
        li 사업자등록번호 : 116-81-40951
        li 서울특별시 마포구 매봉산로 45 KBS미디어센터
      ul.footer-info
        li 
          a(href="tel:02-6939-0000") 대표전화: 02-6939-0000
        li 
          a(href="mailto:abcdefg@kbsmedia.co.kr") 이메일: abcdefg@kbsmedia.co.kr
      p.copy
        | Copyrightⓒ by KBS Media. All rights reserved.
    .footer-r
      .footer-service
        .footer-biz.service
          a#TITLE1.select-biz(href='#none' role='button') KBS패밀리
          span.footer-toggle.collapsed
        ul#LINK_INFO1_URL.select-ul.select-service
          li
            a(href='http://www.kbs.co.kr/' target='_blank') KBS
          li
            a(href='http://www.kbsn.co.kr/index' target='_blank') KBS N
          li
            a(href='https://kbsbiz.co.kr/' target='_blank') KBS 비즈니스
          li
            a(href='http://www.kbsart.co.kr/main.asp' target='_blank') KBS 아트비전
          li
            a(href='https://kbs-mt.imweb.me/' target='_blank') KBS 미디어텍
          li
            a(href='http://www.kbs-america.com/' target='_blank') KBS AMERICA
          li
            a(href='http://www.kbssecurity.co.kr/' target='_blank') KBS 시큐리티
          li
            a(href='https://www.kbsworld.ne.jp/' target='_blank') KBS JAPAN
      .footer-family
        .footer-biz.family
          a#TITLE2.select-biz(href='#none' role='button') KBS미디어 서비스
          span.footer-toggle.collapsed
        ul#LINK_INFO2_URL.select-ul.select-family
          li
            a(href='http://www.kbs.co.kr/' target='_blank') KBS홈페이지(KOR)
          li
            a(href='http://english.kbs.co.kr/' target='_blank') KBS홈페이지(ENG)
          li
            a(href='http://world.kbs.co.kr/service/index.htm?lang=e' target='_blank') KBS WORLD RADIO
          li
            a(href='http://news.kbs.co.kr/common/news24.html?NEWS_EXEC_RESULT=success&SSO_RTN_URL=http%3A%2F%2Fnews.kbs.co.kr%2Fnews%2Fnews24Category.do' target='_blank') KBS 24뉴스
          li
            a(href='http://dmb.kbs.co.kr/' target='_blank') KBS DMB
          li
            a(href='http://www.kbsacademy.co.kr/' target='_blank') KBS 방송아카데미
      .footer-inspection
        a.link-inspection(href='/inspection.html' role='button') 온라인 감사 제보
      ul.footer-sns
        li.sns1
          a(href='https://www.instagram.com/kbsmedia.official/' target='_blank')
            span.blind Instgram 공유하기
        li.sns2
          a(href='https://www.facebook.com/KBSMediaCorp' target='_blank')
            span.blind Facebook 공유하기
        li.sns3
          a(href='https://www.youtube.com/channel/UCCGsrDqBriMBp2st3FM-n2A' target='_blank')
            span.blind Youtube 공유하기