header#header.app-header
  h2.blind 헤더 영역
  .app-header__content
    h1.app-header__ci
      a.app-header__ci-link(href='#', name="Nuri IDT")
        i.icon-app-header__ci
        span.blind 누리IDT
    nav.app-header__gnb
      ul.depth1
        li.app-header__gnb-item
          a(href="")
            span COMPANY 
          ul.depth2
            li 
              a(href="") 회사소개
            li
              a(href="") 사업분야
            li
              a(href="") 사업실적
        li.app-header__gnb-item
          a(href="")
            span SERVICE 
          ul.depth2
            li 
              a(href="") 고문헌 한자 OCR
            li 
              a(href="") 고문헌 이미지 검색
            li 
              a(href="") OCR API
            li 
              a(href="") 한자 자형 검색
            li 
              a(href="") 누리한자 입력기
        li.app-header__gnb-item
          a(href="")
            span SOLUTION 
          ul.depth2
            li 
              a(href="") NAH
            li
              a(href="") NIT’30
            li
              a(href="") NPM
            li
              a(href="") NCM
        li.app-header__gnb-item
          a(href="")
            span CONTACT