header#header.app-header
  h2.blind 헤더 영역
  .app-header__content
    h1.app-header__ci
      a.app-header__ci-link(href='#', name="Nuri IDT")
        i.icon-app-header__ci
        span.blind 누리IDT
    nav.app-header__gnb
      ul.depth1
        li.app-header__gnb-item(class= pageTitle=== 'COMPANY' ? 'is-active':undefined)
          a(href="company-about.html")
            span COMPANY 
          ul.depth2
            each name, link in {'about':'회사소개', 'business':'사업분야', 'performance':'사업실적'}
              li
                a(href='company-'+link+'.html')= name
        li.app-header__gnb-item(class= pageTitle=== 'SERVICE' ? 'is-active':undefined)
          a(href="service-chinese-ocr.html")
            span SERVICE 
          ul.depth2
            each name, link in {'chinese-ocr':'고문헌 한자 OCR', 'archaic-images':'고문헌 한자 이미지 검색', 'ocr-api':'OCR API', 'jahyung':'한자 자형 검색', 'input-chinese':'누리한자입력기'}
              li 
                a(href='service-'+link+'.html')= name
        li.app-header__gnb-item(class= pageTitle=== 'SOLUTION' ? 'is-active':undefined)
          a(href="solution-nah.html")
            span SOLUTION 
          ul.depth2
            each name, link in {'nah':'NAH', 'npm':'NPM', 'nit':'NIT’30', 'ncm':'NCM', 'nnt':'NNT', 'nlm':'NLM'}
              li 
                a(href='solution-'+link+'.html')= name
        li.app-header__gnb-item(class= pageTitle=== 'CONTACT' ? 'is-active':undefined)
          a(href="contact.html")
            span CONTACT