.app-breadcrumb 
  h2.pg-tit #{pageTitle}
  ul.app-breadcrumb__list

  if pageTitle == 'COMPANY'
    li.app-breadcrumb__item
      a.app-breadcrumb__link(href="") 회사소개
    li.app-breadcrumb__item
      a.app-breadcrumb__link(href="") 사업분야
    li.app-breadcrumb__item
      a.app-breadcrumb__link(href="") 사업실적

  if pageTitle == 'SERVICE'
    li.app-breadcrumb__item
      a.app-breadcrumb__link(href="") 고문헌 한자 OCR
    li.app-breadcrumb__item
      a.app-breadcrumb__link(href="") 고문헌 이미지 검색
    li.app-breadcrumb__item
      a.app-breadcrumb__link(href="") OCR API
    li.app-breadcrumb__item
      a.app-breadcrumb__link(href="") 한자 자형 검색
    li.app-breadcrumb__item
      a.app-breadcrumb__link(href="") 누리한자입력기
