<!DOCTYPE html>
html(lang="ko")
	head
		meta(charset='UTF-8')
		meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='shortcut icon' href='/resources/favicon/favicon.ico')
		link(rel='shortcut icon' href='/resources/favicon/favicon.png')
		link(rel='apple-touch-icon' href='/resources/favicon/favorite.png')
		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='apple-mobile-web-app-status-bar-style' content='black')
		meta(property='og:site_name' content='누리IDT')
		meta(name='description' content='누리IDT')
		meta(name='keywords' content='지능형 데이터 전문 기업, 누리IDT 홈페이지')
		meta(property='og:title' content='지능형 데이터 전문 기업, 누리IDT 홈페이지')
		meta(property='og:site_name' content='누리IDT')
		meta(property='og:image' content='/resources/images/common/nuri-og-img.jpg')
		meta(property='og:description' content='누리IDT 홈페이지')
		meta(name='mobile-web-app-capable' content='yes')
		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title #{seoTitle} | (주)누리IDT &#8211; 지능형 데이터 전문 기업
