extends ../__template/sub-template.pug

block variables
	- var seoTitle = '고문헌 한자 OCR'
	- var subPageClass = 'pg-id-ocr'

block content
	section.app-section.app-sub__tit
		h1 고문헌 한자 OCR
		include ../__includes/app-tooltip__ocr.pug
	section.app-section.app-sub__grid.pg-ocr 
		article.grid-article.ocr-img
			h2.grid-article__tit 원문 이미지
			.grid-article__content 
				.img-box 
					input#ocrImgUpload.a11y-visible(type="file")
					label(for="ocrImgUpload").img-upload-info 이곳에
						br 
						| 이미지 파일을
						br 
						| 끌어 넣기
					.info-msg(data-theme="warning") * 20Mb 이상의 이미지 파일은 
						span.br 속도를 저하시킬 수 있습니다. 
						br
						| 이미지 형식은 jpg, png를 지원합니다.
				.button-area
						button.solid-button--lg.button-ocr-upload(type='button', data-theme='mdgreen' data-round="lg")
							i.icon-file-img
							span.button-content 이미지 파일 선택
		article.grid-article.ocr-txt.is-disabled
			h2.grid-article__tit 원문 텍스트
			.grid-article__content 
				.txt-box#trans_txt_div
				.button-area
					//- button.solid-button--lg(type='button', data-theme='mdgreen' data-round="lg")
					//- 	span.button-content
					//- 		em.font-hanja 正字
					//- 		| 로 변환하기
					button.solid-button--lg(type='button', data-theme='mdgreen' data-round="lg")
						span.button-content 텍스트 파일로 내려받기
		article.grid-article.ocr-info.is-disabled
			h2.grid-article__tit 한자정보 및 수정
			.grid-article__content 
				.detail-box