block variables

<!DOCTYPE html>
html(lang="ko")(data-theme=colorTheme)
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="icon", type="image/x-icon",href="../static/images/common/favicon.ico")
		//- SEO
		title #{seoTitle} | 누리IDT고문헌한자시스템
		meta(name="Description", CONTENT="")

		//- OPEN GRAPH
		meta(property="og:type", content="website")
		meta(property="og:url", content="http://ocr.nuriidt.co.kr/")
		meta(property="og:title", content="누리IDT고문헌한자시스템")
		meta(property="og:image", content="../static/images/common/og.png")
		meta(property="og:description", content="OCR, 한자 자형검색, 이미지 검색 등 누리IDT의 다양한 서비스를 이용해보세요!")
		//- meta(property="og:site_name", content="Nuri IDT ")
		meta(property="og:locale", content="ko_KR")

		block headCSS
			link(rel="stylesheet", href='../static/css/ui.css')
		//- 		link(rel="stylesheet", href='/css/template/template10/pc/swiper.min.css')
		//- 		link(rel="stylesheet", href='/css/template/template10/pc/jquery-ui.min.css')

	body
		.app.sub-page
		
			include ../__includes/app-header.pug

			.app-container
				main.app-content
					block content

			include ../__includes/app-footer.pug
			
			.app-layered
				block layered

		block bodyJS 
			script(src="../static/js/jquery-3.6.0.min.js")
			script(src="../static/js/ui.js")

		block addJs
		