// * -------------------------------
// * Common
// * -------------------------------
body {
  word-break: break-all;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  letter-spacing: -0.02em;
}
body.is-hidden {
  overflow: hidden;
}
.app {
  overflow: hidden;
}

// * -------------------------------
// * A11y Hidden
// * -------------------------------
.a11y-hidden {
  @include a11y-hidden;
}
span.br {
  display: inline-block;
}
span.hide {
  display: inline-block;
  @media screen and (max-width: $bp-tab) {
    display: none;
  }
}
br.web {
  display: block;
  @media screen and (max-width: $bp-tab) {
    display: none;
  }
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='tel'],
input[type='date'],
input[type='datetime-local'],
input[type='time'],
input[type='month'],
input[type='week'] {
  width: 100%;
  border-radius: 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: inherit;
}
input[type='text']:focus {
  outline: none;
}

//Placeholder
:-ms-input-placeholder {
  color: $primary-ltgreen;
} /* Internet Explorer 10-11 */
::-ms-input-placeholder {
  color: $primary-ltgreen;
} /* Microsoft Edge */
::placeholder {
  color: $primary-ltgreen;
  opacity: 1;
  text-align: left;
} /* Chrome, Firefox, Opera, Safari 10.1+ */
textarea:-ms-input-placeholder {
  font-size: inherit;
  color: $primary-ltgreen;
} /* Internet Explorer 10-11 */
textarea::-ms-input-placeholder {
  font-size: inherit;
  color: $primary-ltgreen;
} /* Microsoft Edge */
textarea::placeholder {
  font-size: inherit;
  color: $primary-ltgreen;
  opacity: 1;
}

/* ScrollBar */
::-webkit-scrollbar-track {
  background-color: #e7e7e7;
  border-radius: 3px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: $primary-ltgreen;
  border-radius: 3px;
}
textarea::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: #e7e7e7;
}
textarea::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #e7e7e7;
}
textarea::-webkit-scrollbar-thumb {
  background-color: $primary-ltgreen;
  border-radius: 3px;
  right: 20px;
}
