h1 {
  @include h1;
}
h2 {
  @include h2;
}
h3 {
  @include h3;
}
h4 {
  @include h4;
}

// * -------------------------------
// * Text, Password
// * -------------------------------
.form-text {
  display: inline-block;
  position: relative;
  &-content {
    display: inline-block;
    width: 100%;
  }
  input[type='text'] {
    min-width: 100px;
    height: 40px;
    padding-top: 12px;
    padding-right: 15px;
    padding-bottom: 12px;
    padding-left: 15px;
    border: 1px solid $line-color02;
    @include p2;
    &::placeholder {
      color: $placeholder;
    }
  }
  &.t01 {
    input[type='text'] {
      border-radius: 10px;
    }
  }
}
.form-selector {
  display: inline-flex;
  position: relative;
  vertical-align: middle;
  input[type='checkbox'] {
    @include a11y-hidden;
    + label {
      @include p4-medium;
      line-height: 16px;
      display: inline-block;
      position: relative;
      min-height: 20px;
      padding-left: 23px;
      color: $primary-green;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        border: 1px solid $primary-green;
        border-radius: 3px;
        background-color: #fff;
      }
      &:after {
        content: '';
        position: absolute;
        top: 3px;
        left: 4px;
        width: 9px;
        height: 6px;
        border: 3px solid $color-white;
        border-top: 0;
        border-right: 0;
        transform: rotate(-45deg);
        opacity: 0;
      }
    }
    // &:disabled + label {
    //   &:before {
    //     border-color: $gray-scale-color05;
    //     background-color: $gray-scale-color08;
    //   }
    // }
    &:checked + label {
      &:before {
        background-color: $primary-green;
      }
      &:after {
        opacity: 1;
      }
    }
    // &:checked:disabled + label {
    //   &:before {
    //     filter: grayscale(100%) opacity(40%);
    //   }
    // }
  }
  & + .form-selector {
    margin-left: 20px;
  }
}

// * -------------------------------
// * BUTTON
// * -------------------------------
[role='button'] + [role='button'],
[type='button'] + [type='button'] {
  margin-left: 10px;
}
.button-content + [class*='icon-'],
[class*='icon-'] + .button-content {
  margin-left: 10px;
}
.solid-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: $line-color;
  color: $color-white;
  background-color: $primary-green;
  @media screen and (max-width: $bp-mob) {
    padding: 6px 10px;
  }
  // size
  &--lg {
    @extend .solid-button;
    @include p1-medium;
    height: 50px;
  }
  &--md {
    @extend .solid-button;
    @include p2-medium;
    @media screen and (max-width: $bp-mob) {
      @include p4-medium;
    }
  }
  &--sm {
    @extend .solid-button;
    @include p3-medium;
    padding: 8px 10px;
  }
  &--xs {
    @extend .solid-button;
    font-size: $text-md;
    line-height: 18px;
    padding: 6px 15px;
  }
  // color
  &[data-theme='ltgreen'] {
    color: $color-white;
    background-color: $primary-ltgreen;
  }
  &[data-theme='mdgreen'] {
    color: $color-white;
    background-color: $primary-mdgreen;
  }
  &[data-theme='white'] {
    color: $primary-green;
    background-color: $color-white;
  }
  &.is-disabled {
    color: $color-font04;
    background-color: $line-color03;
  }
}
.line-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // min-width: 100px;
  padding: 8px 12px;
  border: 1px solid $color-font;
  // size
  &--lg {
    @extend .line-button;
    @include p1-medium;
    line-height: 1;
  }
  &--md {
    @extend .line-button;
    @include p2;
    padding: 5px 15px;
    @media screen and (max-width: $bp-mob) {
      @include p4-medium;
    }
  }
  &--sm {
    @extend .line-button;
    font-size: $text-md;
    line-height: 18px;
    padding: 5px 15px;
  }
  &[data-theme='green'] {
    color: $primary-green;
    border-color: $primary-green;
  }
  &[data-theme='mdgreen'] {
    color: $primary-mdgreen;
    border-color: $primary-mdgreen;
  }
  &[data-theme='white'] {
    color: $color-white;
    border-color: $color-white;
  }
  &[data-theme='grey'] {
    color: $color-font05;
    border-color: $color-font05;
  }
  &[data-bg='bg'] {
    background-color: $color-white;
  }
}

// * -------------------------------
// * Round
// * -------------------------------
*[data-round='sm'] {
  border-radius: 5px;
}
*[data-round='md'] {
  border-radius: 10px;
}
*[data-round='lg'] {
  border-radius: 15px;
}
*[data-round='xl'] {
  border-radius: 20px;
}
*[data-round='half'] {
  border-radius: 50%;
}

// * -------------------------------
// * CSS Icon
// * -------------------------------
[class^='icon-css-'] {
  position: relative;
  background-image: none;
  text-indent: inherit;
}
.icon-css-tooltip {
  width: 20px;
  height: 20px;
  background-color: #666;
  border-radius: 50%;
  text-align: center;
  &::before {
    content: '?';
    display: inline-block;
    font-size: 14px;
    color: #fff;
    line-height: 1;
    font-style: normal;
    transform: translateY(-2px);
  }
}
.icon-css-close {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  transform: rotate(45deg);
  &::before,
  &::after {
    content: '';
    display: block;
    background-color: #999;
  }
  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 29px;
    height: 1px;
  }
  &::after {
    margin: 0 auto;
    width: 1px;
    height: 28px;
  }
}
.icon-css-close__circle {
  width: 30px;
  height: 30px;
  border: 1px solid #999;
  border-radius: 50%;
  text-align: center;
  transform: rotate(45deg);
  &::before,
  &::after {
    content: '';
    display: block;
    background-color: #999;
  }
  &::before {
    position: absolute;
    top: 50%;
    left: 6px;
    width: 17px;
    height: 1px;
  }
  &::after {
    margin: 6px auto;
    width: 1px;
    height: 17px;
  }
}
.info-msg {
  @include p3;
  color: $color-font04;
  margin-top: 6px;
  @media screen and (max-width: $bp-mob) {
    @include p4;
    line-height: 22px;
  }
  &[data-theme='warning'] {
    text-align: center;
    color: $primary-red;
  }
}
*[data-prefix] {
  &:before {
    content: attr(data-prefix);
    display: inline-block;
    margin-right: 4px;
  }
}

.tooltip {
  position: absolute;
  top: -12px;
  right: 140px;
  z-index: $level20;
  display: none;
  width: 600px;
  height: auto;
  height: 800px;
  padding: 40px 15px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  &::before {
    position: absolute;
    top: 23px;
    right: -17px;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #fff;
  }
  ul {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    overflow: auto;
    li {
      strong {
        @include p1-medium;
        em {
          color: $primary-red;
        }
        & + p {
          margin-top: 10px;
        }
      }
      p {
        @include p3;
      }
      & + li {
        padding-top: 30px;
        margin-top: 30px;
        border-top: 1px solid #d4d4d4;
      }
    }
    &::-webkit-scrollbar-track {
      margin-top: 20px;
    }
  }
  .button-area {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px 0;
    background-color: #fff;
    text-align: center;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  &-wrap {
    position: relative;
    &.is-active .tooltip {
      display: block;
    }
  }
}

.font-hanja {
  font-family: 'malgungothic';
}

.detail-box {
  &-area {
    height: 100%;
    padding: 0 10px;
    overflow: auto;
  }
  margin-bottom: 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #d9d9d9;
  &__main-result {
    @include flex-justify;
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid $primary-green;
    .charactor {
      strong {
        display: inline-block;
        vertical-align: middle;
        font-family: $font-hanja;
        font-size: 42px;
        line-height: 1;
        font-weight: 500;
      }
      span {
        display: inline-block;
        margin-left: 15px;
        vertical-align: middle;
        font-size: 22px;
        color: $color-font02;
        font-weight: 600;
      }
    }
    .tag-label {
      @include p3-medium;
      display: inline-block;
      padding: 2px 10px;
      border: 1px solid $primary-green;
      border-radius: 5px;
      & + .btn-apply {
        margin-left: 3px;
        padding: 8px;
        line-height: 1;
      }
    }
  }
  &__main-info {
    width: 100%;
    padding: 7px 15px;
    background-color: #efefef;
    @include p3;
    p {
      position: relative;
      padding: 0 15px 0 35px;
      strong {
        position: absolute;
        top: 0;
        left: 0;
        line-height: 26px;
        font-weight: 600;
        color: $color-font;
      }
      span {
        word-break: keep-all;
      }
      & + p {
        padding-top: 0;
      }
    }
  }
  &__sub {
    padding: 10px 15px 15px 15px;
  }
}
.detail-tags {
  li {
    margin-bottom: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    grid-gap: 15px;
    > .tag-msg {
      flex: 1;
    }
  }
  .tag-label {
    display: inline-block;
    color: $primary-green;
    border: 1px solid $primary-green;
    text-align: center;
    border-radius: 5px;
    &--sm {
      @extend .tag-label;
      width: 68px;
      height: 26px;
      line-height: 26px;
      font-size: $text-sm;
    }
  }
  .tag-msg {
    font-size: $text-md;
    line-height: 22px;
    font-family: $font-hanja;
  }
}
.detail-input {
  @include flex-justify;
  grid-gap: 12px;
  padding: 20px;
  border: 1px solid $line-color02;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
  .btn-apply {
    min-width: 80px;
  }
}
