.app {
  position: relative;
  width: 100%;
  min-width: $bp-pc;
  padding-top: 58px; //header
  padding-bottom: 137px; //footer
  min-height: 100vh;
  @media screen and (max-width: $bp-pc__min) {
    min-width: $bp-nb;
  }
  @media screen and (max-width: $bp-nb) {
    min-width: 900px;
  }
  @media screen and (max-width: $bp-tab) {
    min-width: $bp-mob;
    height: auto;
  }
  @media screen and (max-width: $bp-mob) {
    min-width: 360px;
    padding-top: 50px;
    padding-bottom: 265px;
  }
}

.app-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $level20;
  width: 100%;
  min-width: 1400px;
  height: 58px;
  padding: 0 15px;
  background-color: $color-white;
  border-bottom: 1px solid $line-color03;
  @media screen and (max-width: $bp-pc__min) {
    min-width: $bp-nb;
  }
  @media screen and (max-width: $bp-nb) {
    min-width: auto;
  }
  @media screen and (max-width: $bp-mob) {
    height: 50px;
    padding: 0;
  }
  &-content {
    position: relative;
    max-width: $bp-pc;
    @include flex-justify;
    margin: 0 auto;
    @media screen and (max-width: $bp-mob) {
      padding: 0 15px;
    }
  }
  &-ci {
    .ci {
      display: inline-flex;
      align-items: center;
      padding: 15px 0;
      @media screen and (max-width: $bp-mob) {
        height: 50px;
        padding: 0;
      }
    }
    .icon-app-header__ci_m {
      display: none;
    }
    @media screen and (max-width: $bp-mob) {
      .icon-app-header__ci {
        display: none;
      }
      .icon-app-header__ci_m {
        display: inline-block;
      }
    }
  }
  &-util {
    padding: 15px 0;
    @media screen and (max-width: $bp-mob) {
      padding: 0;
    }
    .button-unit {
      margin-left: 10px;
      .solid-button--xs:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .solid-button--xs:last-child {
        position: relative;
        margin-left: -6px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        &::before {
          position: absolute;
          top: 7px;
          left: 0;
          content: '';
          display: block;
          width: 1px;
          height: 13px;
          background-color: #fff;
          opacity: 0.3;
        }
      }
    }
  }
  &__pg-tit {
    @include h4;
    &::before {
      content: '';
      display: inline-block;
      width: 40px;
      height: 6px;
      margin-right: 10px;
      background-color: $primary-green;
      vertical-align: middle;
    }
  }
}
// .app-nav {
//   display: none;
//   &::before {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     transition: background opacity 0.5s;
//   }
//   &-content {
//     position: relative;
//     right: -100%;
//     float: right;
//     display: block;
//     content: '';
//     width: calc(100% - 75px);
//     max-width: 384px;
//     height: 100%;
//     padding-top: 50px;
//     background-color: #fff;
//     transition: right 0.3s ease;
//     &::before {
//       content: '';
//       position: absolute;
//       top: 0;
//       left: 0;
//       display: block;
//       content: '';
//       width: 100%;
//       height: 50px;
//       background-color: $primary-green;
//     }
//   }
//   @media screen and (max-width: $bp-mob) {
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     left: 100%;
//     z-index: $level40;
//     width: 100%;
//     display: block;
//   }
//   .btn-menu {
//     position: fixed;
//     top: 0;
//     right: 0;
//     padding: 16px 20px;
//     > span {
//       position: relative;
//       display: block;
//       width: 20px;
//       height: 16px;
//       border-top: 2px solid #000;
//       border-bottom: 2px solid #000;
//       font-size: 0;
//       color: transparent;
//       &::before,
//       &::after {
//         position: absolute;
//         top: 50%;
//         left: 0;
//         margin-top: -1px;
//         content: '';
//         display: block;
//         content: '';
//         width: 100%;
//         height: 2px;
//         background-color: #000;
//         transform-origin: center;
//       }
//     }
//   }
//   &.is-active {
//     left: 0;
//     &::before {
//       content: '';
//       display: block;
//       background-color: rgba(0, 0, 0, 0.7);
//     }
//     .app-nav-content {
//       right: 0;
//     }
//     .btn-menu {
//       padding: 14px 16px;
//       z-index: $level10;
//       span {
//         width: 26px;
//         height: 22px;
//         border: 0;
//         &::before,
//         &::after {
//           background-color: #fff;

//           height: 1px;
//         }
//         &::before {
//           transform: rotate(45deg);
//         }
//         &::after {
//           transform: rotate(-45deg);
//         }
//       }
//     }
//   }
//   .app-header-util {
//     width: 100%;
//     padding: 20px;
//     background-color: #ececec;
//     @include grid-col2;
//     .solid-button--sm {
//       width: 100%;
//       height: 37px;
//     }
//   }
//   .app-nav-menu {
//     padding-top: 25px;
//     li {
//       padding: 0 15px;
//       a {
//         display: block;
//         padding: 15px 0;
//         font-size: $text-md;
//         line-height: 1;
//         font-weight: 700;
//       }
//       & + li a {
//         border-top: 1px solid #cecece;
//       }
//     }
//   }
//   .button-unit {
//     padding: 25px;
//     @include grid-col2;
//     .solid-button--sm {
//       width: 100%;
//       height: 37px;
//     }
//   }
// }

.app-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-width: 1400px;
  min-height: 137px;
  background-color: $primary-green;
  @media screen and (max-width: $bp-pc__min) {
    min-width: $bp-nb;
  }
  @media screen and (max-width: $bp-nb) {
    min-width: 900px;
  }
  @media screen and (max-width: $bp-tab) {
    min-width: $bp-mob;
    height: auto;
  }
  @media screen and (max-width: $bp-mob) {
    min-width: 360px;
    .btn-link__privacy {
      display: block;
      width: 100%;
      margin-top: 15px;
    }
  }
  &-msg {
    width: 100%;
    min-height: 47px;
    padding: 10px 15px;
    line-height: 28px;
    font-size: $text-sm;
    color: $primary-green;
    text-align: center;
    background-color: $color-bg;
    @media screen and (max-width: $bp-mob) {
      line-height: 22px;
    }
  }
  &-content {
    @include flex-justify;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 22px 0;
    @media screen and (max-width: $bp-pc__min) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media screen and (max-width: $bp-tab) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 20px 30px;
    }
    @media screen and (max-width: $bp-mob) {
      display: block;
    }
  }
  &__address {
    @include p3;
    color: #fff;
    p {
      display: inline-block;
      margin-left: 20px;
    }
    span:last-child {
      display: inline-block;
      color: #dfc38a;
      &::before {
        content: '';
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        width: 1px;
        height: 14px;
        background-color: #eaeaea;
        vertical-align: middle;
      }
    }
    @media screen and (max-width: $bp-tab) {
      p {
        display: inline-block;
        vertical-align: middle;
      }
      span:last-child {
        display: block;
        &::before {
          display: none;
        }
      }
    }
    @media screen and (max-width: $bp-mob) {
      display: block;
      p {
        margin-top: 15px;
        margin-left: 0;
      }
    }
  }
  .icon-app-footer__ci {
    display: inline-block;
  }
  .icon-app-footer__ci_m {
    display: none;
  }
  @media screen and (max-width: $bp-mob) {
    .icon-app-footer__ci {
      display: none;
    }
    .icon-app-footer__ci_m {
      display: block;
    }
  }
  &.only-msg {
    display: flex;
    align-items: center;
    height: 80px;
    min-height: auto;
    font-size: 20px;
    background-color: $color-bg;
    p {
      display: inline-block;
      margin-right: 15px;
      &::after {
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color: $primary-green;
        margin-left: 15px;
        vertical-align: middle;
      }
    }
    p,
    strong {
      font-weight: 700;
      ~ span {
        display: inline-block;
        margin-left: 10px;
        margin-right: 6px;
      }
    }
  }
}

.app-section {
  width: 100%;
  &-content {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
  }
}

.app-content {
  &-tit {
    @include h2;
    line-height: 48px;
    position: relative;
    &.t01 {
      @include h3;
    }
  }
  &-desc {
    @include p1;
    position: relative;
  }
}
@media screen and (max-width: $bp-pc__min) {
  .app-content {
    > .app-section:not([class*='app-sub__']) {
      padding-left: 60px;
      padding-right: 60px;
    }

    &-tit {
      @include h3;
      line-height: 42px;
    }
    &-desc {
      @include p2;
    }
  }
}
@media screen and (max-width: $bp-tab) {
  .app-content {
    padding-bottom: 50px;
    > .app-section:not([class*='app-sub__']) {
      padding-left: 50px;
      padding-right: 50px;
    }

    &-tit,
    &-tit.t01 {
      font-size: 24px;
      line-height: 42px;
    }
    &-desc {
      @include p2;
    }
  }
}
@media screen and (max-width: $bp-mob) {
  .app-content {
    > .app-section:not([class*='app-sub__']) {
      padding-left: 20px;
      padding-right: 20px;
    }

    &-tit {
      text-align: center;
      &-tit.t01 {
        font-size: 20px;
        line-height: 32px;
      }
    }
    &-desc {
      @include p3;
    }
  }
}

.sub-page {
  .app-header {
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (max-width: $bp-tab) {
      padding-left: 0;
      padding-right: 0;
    }
    &-content {
      max-width: 100%;
    }
  }
  .app-footer {
    &-content {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.app-popup {
  &__tit {
    padding: 20px;
    font-size: 22px;
    line-height: 1;
    border-bottom: 1px solid $line-color;
  }
  &__content {
    padding: 20px;
  }
}

.app-layered {
  position: fixed;
  left: calc(50% - 300px);
  top: 50%;
  transform: translateY(-50%);
  width: 600px;
  min-height: 250px;
  background-color: #fff;
  box-shadow: 8px 8px 40px 20px rgba(0, 0, 0, 0.15);
  display: none;
  @media screen and (max-width: $bp-mob) {
    top: 0;
    left: 0;
    z-index: 10;
    transform: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: none;
    &.is-active {
      display: flex;
    }
  }
  &.is-active {
    display: block;
  }
  &__tit {
    padding: 20px 30px;
    font-size: 22px;
    color: #fff;
    line-height: 1;
    background-color: $primary-green;
    @media screen and (max-width: $bp-mob) {
      padding: 15px 20px;
      font-size: 18px;
    }
  }
  &__content {
    padding: 0 20px;
    > p {
      padding: 50px 0;
      font-size: 18px;
      color: $color-font02;
      line-height: 1.6;
      text-align: center;
      @media screen and (max-width: $bp-mob) {
        padding: 30px 0;
        font-size: 16px;
      }
    }
  }
  .btn-area {
    @include flex-justify;
    padding: 10px 13px;
    background-color: $color-font04;
    .form-selector input + label {
      color: #fff;
      &::before {
        border-color: #fff;
        background-color: $color-font04;
      }
    }
  }
  > .js_layered-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 22px;
    visibility: visible;
  }
  @media screen and (max-width: $bp-mob) {
    .js_layered {
      width: 100%;
      height: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      background-color: #fff;
      box-shadow: 8rem 8rem 40rem 20rem rgba(0, 0, 0, 0.15);
      & + .js_layered-close {
        visibility: hidden;
      }
    }
  }
}
