// * -------------------------------
// * Main
// * -------------------------------

.app-main {
  &__tit {
    @include backImg(main__visual);
    height: 240px;
    padding-top: 50px;
    text-align: center;
    color: $color-white;
    h1 {
      margin-bottom: 24px;
    }
    @media screen and (max-width: $bp-mob) {
      height: 245px;
      // padding-top: 40px;
      h1 {
        @include h3;
      }
      p {
        font-size: 15px;
        line-height: 22px;
      }
    }
  }
  &__service {
    padding: 50px 0;
    @media screen and (max-width: $bp-mob) {
      padding: 20px 0;
    }
    > div {
      border-radius: 15px;
    }
    .main-item {
      position: relative;
      width: 100%;
      padding: 50px;
      border: 2px solid $primary-green;
      border-radius: 15px;
      overflow: hidden;
      @media screen and (max-width: $bp-tab) {
        padding: 20px;
        &::before {
          width: 370px;
          height: 370px;
        }
      }
      overflow: hidden;
      .app-content-tit {
        color: $primary-green;
        line-height: 1.4;
      }
      .app-content-desc {
        position: relative;
        z-index: 1;
        margin-top: 16px;
      }
      .button-link {
        margin-top: 25px;
      }
      &::before {
        position: absolute;
        content: '';
        display: block;
        width: 410px;
        height: 410px;
        border-radius: 50%;
        background-color: $primary-htgreen;
        opacity: 0.5;
      }
      @media screen and (max-width: $bp-mob) {
        padding: 20px;
        &::before {
          width: 294px;
          height: 294px;
          opacity: 0.5;
        }
        figure {
          opacity: 0.5;
        }
      }
    }

    &-box {
      @include grid-justify;
      grid-template-columns: 1fr 1fr;
      align-content: stretch;
      justify-content: stretch;
      grid-gap: 20px;
      margin: 20px 0;
      @media screen and (max-width: $bp-mob) {
        display: block;
      }
      > .sub-item {
        width: 100%;
        height: 100%;
        padding: 50px;
        border-radius: 15px;
        background-color: $color-bg;
        @media screen and (max-width: $bp-mob) {
          padding: 25px 20px;
          @include clfix;
          .app-content-tit.t01 {
            text-align: left;
          }
          + div {
            margin-top: 10px;
          }
        }
      }
      .button-link {
        float: right;
        position: relative;
        margin-top: 20px;
        font-size: 14px;
        // &:not(.is-disabled) {
        //   padding-right: 50px;
        //   color: $primary-green;
        //   background: none;
        // }
        // &:not(.is-disabled)::before {
        //   position: absolute;
        //   top: 50%;
        //   right: 0;
        //   content: '';
        //   display: block;
        //   width: 30px;
        //   height: 2px;
        //   background-color: $primary-green;
        // }
        // &:not(.is-disabled)::after {
        //   position: absolute;
        //   top: 50%;
        //   margin-top: -5px;
        //   right: 0;
        //   content: '';
        //   display: block;
        //   width: 12px;
        //   height: 12px;
        //   border-radius: 2px;gulp
        //   border-right: 2px solid $primary-green;
        //   border-bottom: 2px solid $primary-green;
        //   transform: rotate(-45deg);
        // }
      }
      .app-content-desc {
        margin-top: 12px;
      }
      [class*='main-item'] {
        padding-bottom: 40px;
        &::before {
          right: -100px;
          bottom: -68px;
        }
        figure {
          position: absolute;
        }
        @media screen and (max-width: $bp-nb) {
          figure {
            opacity: 0.5;
          }
        }
        @media screen and (max-width: $bp-mob) {
          text-align: left;
          padding-bottom: 20px;
          &::before {
            right: -95px;
            bottom: -102px;
          }
          figure {
            width: 147px;
            left: auto;
            right: 0;
            opacity: 0.6;
          }
          & + [class*='main-item'] {
            margin-top: 20px;
          }
          .button-link {
            float: none;
          }
        }
        .app-content-desc {
          min-height: 186px;
        }
        .button-link {
          position: relative;
          z-index: $level10;
          margin-top: -50px;
        }
      }
    }
    &-ocr {
      &::before {
        right: -54px;
        bottom: -97px;
      }
      figure {
        position: absolute;
        right: 47px;
        bottom: 26px;
      }
      @media screen and (max-width: $bp-tab) {
        &::before {
          right: -95px;
          bottom: -102px;
        }
        figure {
          width: 127px;
          right: 8px;
          bottom: 10px;
        }
      }
    }
    &-img {
      figure {
        right: 18px;
        top: 10px;
        transform: scale(0.9);
        @media screen and (max-width: $bp-mob) {
          bottom: auto;
          top: 120rem;
        }
      }
    }
    &-api {
      figure {
        right: 0;
        top: 60px;
        @media screen and (max-width: $bp-mob) {
          top: auto;
          bottom: 0;
        }
      }
    }
  }
}
