@use 'sass:math';

// * -------------------------------
// * Text
// * -------------------------------
@mixin text($size: 16px, $lh: 1.6, $weight: 400) {
  font-size: $size;
  line-height: $lh;
  font-weight: $weight;
}

// * -------------------------------
// * Clear Fix
// * -------------------------------
@mixin clfix {
  //Float 해제
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// * -------------------------------
// * Heading Tag
// * -------------------------------
@mixin h1 {
  font-size: 58px;
  line-height: 66px;
  font-weight: 800;
}
@mixin h2 {
  font-size: 42px;
  line-height: 48px;
  font-weight: 800;
}
@mixin h3 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 800;
}
@mixin h4 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

@mixin b1 {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
}
@mixin b1-medium {
  font-size: 18px;
  line-height: 29px;
  font-weight: 500;
}
@mixin b1-bold {
  font-size: 18px;
  line-height: 29px;
  font-weight: 700;
}

@mixin b2 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
@mixin b2-medium {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}
@mixin b2-bold {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
}

@mixin b3 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
@mixin b3-medium {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

@mixin b4 {
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
}
@mixin b4-medium {
  font-size: 12px;
  line-height: 19px;
  font-weight: 500;
}

// * -------------------------------
// * Ellipsis
// * -------------------------------
@mixin ellipsis($w) {
  //한줄 말줄임
  overflow: hidden;
  display: inline-block;
  max-width: $w;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin ellipsis-multi($line, $lh, $w) {
  // 여러줄 말줄임 (IE에서는 ... 없음) : 줄수, line-height, 넓이
  overflow: hidden;
  display: -webkit-box;
  width: $w;
  max-height: $line * $lh;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: inherit;
}

// * -------------------------------
// * A11y
// * -------------------------------
@mixin a11y-hidden {
  //Element 숨김
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  border: 0;
}

// * -------------------------------
// * ICON
// * -------------------------------

// X 닫기 버튼
@mixin iconCancel($size: 24rem, $thick: 2rem, $color: #000, $padding: 0, $display: inline-block, $position: relative) {
  position: $position;
  display: $display;
  width: $size + $padding * 2;
  height: $size + $padding * 2;
  background-color: transparent;
  border: none;
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc($size * $sqrt_2 - $thick);
    height: $thick;
    background-color: $color;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(135deg);
  }
  & > span {
    overflow: hidden;
    display: block;
    text-indent: 100%;
    white-space: nowrap;
  }
}

@mixin col($flex: 0 0 auto) {
  flex: 0 0 calc(100% / ($gridColumn / $flex));
}
@mixin colWidth($width) {
  max-width: calc(100% / ($gridColumn / $width));
}
