@use 'sass:math';

// * -------------------------------
// * Text
// * -------------------------------
@mixin text($size: 16px, $lh: 1.6, $weight: 400) {
  font-size: $size;
  line-height: $lh;
  font-weight: $weight;
}

// * -------------------------------
// * Clear Fix
// * -------------------------------
@mixin clfix {
  //Float 해제
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
// * -------------------------------
// * A11y
// * -------------------------------
@mixin a11y-hidden {
  //Element 숨김
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  border: 0;
}
@mixin a11y-visible {
  //Element 숨김
  overflow: hidden;
  position: absolute;
  padding: 0;
  visibility: hidden;
}

// * -------------------------------
// * Heading Tag
// * -------------------------------
@mixin h1 {
  font-size: 58px;
  line-height: 65px;
  font-weight: 800;
}
@mixin h2 {
  font-size: 42px;
  line-height: 48px;
  font-weight: 800;
}
@mixin h3 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 800;
}
@mixin h4 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
}
@mixin h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

@mixin p1 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}
@mixin p1-medium {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}
@mixin p1-bold {
  font-size: 20px;
  line-height: 32px;
  font-weight: 800;
}

@mixin p2 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
@mixin p2-medium {
  @include p2;
  font-weight: 600;
}
@mixin p2-bold {
  @include p2;
  font-weight: 800;
}

@mixin p3 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
@mixin p3-medium {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}
@mixin p3-bold {
  font-size: 16px;
  line-height: 26px;
  font-weight: 800;
}

@mixin p4 {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
}
@mixin p4-medium {
  font-size: 14px;
  line-height: 28px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  @mixin p2 {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
  }
}

// * -------------------------------
// * Ellipsis
// * -------------------------------
@mixin ellipsis($w) {
  //한줄 말줄임
  overflow: hidden;
  display: inline-block;
  max-width: $w;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin ellipsis-multi($line, $lh, $w) {
  // 여러줄 말줄임 (IE에서는 ... 없음) : 줄수, line-height, 넓이
  overflow: hidden;
  display: -webkit-box;
  width: $w;
  max-height: $line * $lh;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: inherit;
}

// * -------------------------------
// * A11y
// * -------------------------------
@mixin a11y-hidden {
  //Element 숨김
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  border: 0;
}

// * -------------------------------
// * align
// * -------------------------------
@mixin flex-justify {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin grid-justify {
  display: grid;
  place-items: flex-start;
  place-content: space-between;
}
@mixin grid-col2 {
  display: grid;
  place-items: flex-start;
  place-content: space-between;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

// * -------------------------------
// * img
// * -------------------------------
@mixin backImg($img) {
  background-image: url('../images/common/' + $img + '.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
