.pd0 {
  padding: 0 !important;
}
.pd40 {
  padding: 40px !important;
}
.pdt0 {
  padding-top: 0 !important;
}
.pdt10 {
  padding-top: 10px !important;
}
.pdt20 {
  padding-top: 30px !important;
}
.pdt30 {
  padding-top: 30px !important;
}
.pdt40 {
  padding-top: 40px !important;
}
.pdt60 {
  padding-top: 60px !important;
}
.pdt70 {
  padding-top: 70px !important;
}
.pdr0 {
  padding-right: 0 !important;
}
.pdb0 {
  padding-bottom: 0 !important;
}
.pdb10 {
  padding-bottom: 10px !important;
}
.pdb15 {
  padding-bottom: 15px !important;
}
.pdb20 {
  padding-bottom: 20px !important;
}
.pdb30 {
  padding-bottom: 30px !important;
}
.pdb40 {
  padding-bottom: 40px !important;
}
.pdb60 {
  padding-bottom: 60px !important;
}
.pdb100 {
  padding-bottom: 100px !important;
}
.pdl0 {
  padding-left: 0 !important;
}
.pdl10 {
  padding-left: 10px !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mt60 {
  margin-top: 60px !important;
}
.mt80 {
  margin-top: 80px !important;
}
.mr0 {
  margin-right: 0 !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.full {
  width: 100% !important;
}

.align-l {
  text-align: left;
}
.align-c {
  text-align: center;
}
.align-r {
  text-align: right;
}

.a11y-hidden {
  @include a11y-hidden;
}
.a11y-visible {
  @include a11y-visible;
}

// Size
.w-100 {
  width: 100px !important;
}
// Typography
.h1 {
  @include h1;
}
.h2 {
  @include h2;
}
.h3 {
  @include h3;
}
.h4 {
  font-size: 18px !important;
  line-height: 29px !important;
  font-weight: 500 !important;
}
.p1 {
  @include p1;
  &-bold {
    @include p1-bold;
  }
  &-medium {
    @include p1-medium;
  }
}
.p2 {
  font-size: 16px !important;
  line-height: 26px !important;
  font-weight: 400 !important;
  &-medium {
    font-size: 16px !important;
    line-height: 26px !important;
    font-weight: 500 !important;
  }
}
.p3 {
  font-size: 14px !important;
  line-height: 22px !important;
  font-weight: 400 !important;
  &-medium {
    font-size: 14px !important;
    line-height: 22px !important;
    font-weight: 500 !important;
  }
}
.p4 {
  @include p4;
  &-medium {
    @include p4-medium;
  }
}

// Font
.c-red {
  color: $primary-red !important;
}

.bg-grey {
  background-color: $color-bg !important;
}
// Primary Color
.primary-color {
  background-color: $primary-green;
}
.primary-color01 {
  background-color: $primary-ltgreen;
}
.primary-color02 {
  background-color: $primary-htgreen;
}
.jc-center {
  justify-content: center;
}

.flex-justify-between {
  justify-content: space-between !important;
}

.flex-align-stretch {
  align-items: stretch !important;
}
.flex-align-center {
  align-items: center !important;
}

.overflow-visible {
  overflow: visible !important;
}

.flex-box {
  display: flex !important;
}
