	[class^=icon-sprite] { display: inline-block; flex-shrink: 0; background-image: url(/images/ui22/sprite/sprite.png);
	background-repeat: no-repeat; background-size:226px
	20px; white-space:nowrap; text-indent:200%; overflow:hidden; }

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { [class^=icon-sprite] {
	background-image: url(/images/ui22/sprite/sprite@2x.png); } }

	.icon-sprite-app-header__ci{ width:226px; height:20px; background-position:
	0px
	0px; }
