// * -------------------------------
// * Sub
// * -------------------------------

.app-sub {
  min-width: 1440px;
  padding-left: 100px;
  padding-right: 100px;
  &__grid {
    @extend .app-sub;
    display: grid;
    place-items: flex-start;
    place-content: space-between;
    grid-gap: 25px;
    padding-bottom: 40px;
    @media screen and (max-width: $bp-pc__min) {
      min-width: $bp-tab;
      padding-left: 50px;
      padding-right: 50px;
      grid-gap: 20px;
    }
    @media screen and (max-width: $bp-nb__min) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: $bp-mob) {
      display: block;
      min-width: 360px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__tit {
    @include flex-justify;
    width: 100%;
    height: 90px;
    padding-right: 70px;
    @include backImg(sub__title);
    @media screen and (max-width: $bp-pc__min) {
      height: 58px;
      padding-right: 35px;
    }
    @media screen and (max-width: $bp-mob) {
      padding-right: 20px;
    }
    h1 {
      font-size: $heading-lg;
      line-height: 1;
      &::before {
        content: '';
        display: inline-block;
        width: 80px;
        height: 10px;
        margin-right: 20px;
        vertical-align: middle;
        background-color: $primary-green;
      }
      @media screen and (max-width: $bp-pc__min) {
        font-size: $heading-md;
        &::before {
          width: 40px;
          margin-right: 10px;
        }
      }
      @media screen and (max-width: $bp-mob) {
        font-size: 22px;
        &::before {
          width: 20px;
          height: 6px;
        }
      }
    }
    &.logo-tit h1 {
      padding-left: 45px;
      &::before {
        display: none;
      }
    }
    .sub-tit__img {
      display: inline-block;
      vertical-align: middle;
      width: auto;
      height: 50px;
      img {
        width: auto;
        height: 100%;
      }
    }
  }
}
.grid-article {
  position: relative;
  width: 100%;
  &__tit {
    min-height: 90px;
    padding: 40px 0 20px;
    font-size: $heading-md;
    line-height: 1;
    color: $primary-green;
    @media screen and (max-width: $bp-pc__min) {
      min-height: 75px;
      padding-top: 30px;
      padding-bottom: 15px;
      font-size: $heading-sm;
    }
    @media screen and (max-width: $bp-mob) {
      min-height: auto;
      font-size: $heading-sm;
    }
    &.flex-box {
      justify-content: space-between;
      align-items: flex-end;
    }
    .result-number {
      font-size: 20rem;
    }
  }
  &__content {
    min-height: 800px;
    height: calc(100vh - $subExcept);
    // max-height: calc(100vh - $subExcept);
    padding-bottom: 80px;
    border: 1px solid $primary-green;
    border-top-width: 10px;
    background-color: #fff;
    @media screen and (max-width: $bp-pc__min) {
      // min-height: 550px;
      border-top-width: 8px;
    }
    @media screen and (max-height: 850px) {
      min-height: 520px;
      height: calc(100vh - 245rem);
    }
    @media screen and (max-width: $bp-mob) {
      min-height: 400px;
      height: 40vh;
      padding-bottom: 65px;
    }
  }
  &.is-disabled {
    .grid-article__tit {
      font-weight: 400;
      color: $line-color;
    }
    .grid-article__content {
      border-color: $line-color02;
      background-color: $color-bg;
      [class*='-button'] {
        background-color: $line-color;
      }
    }
    .button-area button:hover {
      cursor: default;
    }
  }
}

// * -------------------------------
// * OCR
// * -------------------------------

.pg-ocr {
  grid-template-columns: 1fr 1fr 350px;
  @media screen and (max-width: $bp-pc__min) {
    grid-template-columns: 1fr 1fr 320rem;
  }

  &.col2 {
    width: 1400px;
    margin: 0 auto;
    grid-template-columns: 60% 40%;
  }
  .grid-article:not(.ocr-info) .button-area {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 20px;
    [class*='-button'] {
      width: 100%;
      & + [class*='-button'] {
        margin-left: 0;
      }
    }
    @media screen and (max-width: 1480px) {
      font-size: 16px;
    }
    @media screen and (max-width: $bp-pc__min) {
      padding: 15px;
      [class*='-button'] {
        width: 100%;
        height: 40px;
        [class^='icon-'] {
          transform: scale(0.7);
        }
      }
    }
    @media screen and (max-width: $bp-nb) {
      [class*='-button'] {
        font-size: 15px;
        padding-left: 6px;
        padding-right: 6px;
      }
    }
  }

  &__tit {
    display: flex;
    align-items: center;
  }
  &__content {
    padding: 18px 20px;
  }
  /*** 원본 이미지 ***/
  .ocr-img {
    .grid-article__content {
      padding: 10px 10px 80px 10px;
    }
    .img-box {
      position: relative;
      width: 100%;
      height: 100%;
      padding-bottom: 36px;
      border: 1px solid #c8ddcc;
      overflow: hidden;
      .img-upload-info {
        display: block;
        text-align: center;
        width: 330px;
        height: 300px;
        margin: 180px auto 0;
        padding-top: 94px;
        background: #ffffff;
        border: 3px dashed $line-color;
        border-radius: 30px;
        font-size: 24px;
        line-height: 28px;
        color: $line-color;
        & + .info-msg {
          margin-top: 30px;
        }
        &:hover {
          cursor: pointer;
        }
        @media screen and (max-width: $bp-nb) {
          width: 200px;
          height: 200px;
          margin: 120px auto 0;
          padding-top: 58px;
        }
        @media screen and (max-width: $bp-mob) {
          display: none;
        }
        @media screen and (max-height: 900px) {
          margin-top: 100px;
          width: 260px;
          height: 240px;
          padding-top: 74px;
        }
        @media screen and (max-height: 800px) {
          width: 200rem;
          height: 200rem;
          padding-top: 54rem;
          font-size: 20px;
          margin-top: 60px;
          & + .info-msg {
            font-size: 14px;
          }
        }
      }
      .img-wrap {
        position: relative;
        width: 100%;
        height: 100%;
        figure {
          width: 100%;
          height: 100%;
          > img {
            max-height: 100%;
            min-height: 300px;
            vertical-align: middle;
            position: absolute;
            top: 50%;
            left: 50%;
            height: auto;
            transform: translate(-50%, -50%);
          }
        }
      }
      .segment-label {
        position: absolute;
        left: 0;
        bottom: 0;
        @include flex-justify;
        width: 100%;
        height: 36px;
        padding: 0 20px;
        font-size: 14px;
        line-height: 36px;
        // @include ellipsis(100% - 90px);
        background-color: $primary-htgreen;
        &:hover {
          cursor: pointer;
        }
        span:not(.form-selector) {
          display: inline-block;
          width: calc(100% - 120px);
          text-align: left;
          @include ellipsis(100%);
        }
        .form-selector {
          margin-top: 4px;
        }
      }
      .box-mark {
        position: absolute;
        width: 26px;
        height: 26px;
        border: 1px solid $primary-green;
        &:hover,
        &.is-over,
        &.box_selected {
          border-color: $primary-red;
        }
        &.box_selected {
          background-color: #06711e5e;
        }
      }
    }
    #box_char {
      display: block;
      left: 10000px;
      top: 10000px;
      position: absolute;
      z-index: 1000;
      background: white;
      width: 63px;
      height: 65px;
      font-size: 46px;
      border: solid 4px #33dd66;
      text-align: center;
      border-radius: 7px;
      font-family: $font-hanja;
      line-height: 55px;
    }
  }
  /*** 원본 텍스트 ***/
  .ocr-txt {
    .txt-box {
      height: 100%;
      padding: 20px 5px;
      overflow: hidden;
      &__content {
        height: 100%;
        padding: 0 10px 0 20px;
        overflow: auto;
        > span {
          font-size: 24px;
          font-family: $font-hanja;
          border: 1px solid #fff;
          cursor: pointer;
          &:hover,
          &.is-over {
            border-color: $color-font02;
          }
          &.is-selected {
            width: 32px;
            border-width: 2px;
            background-color: $primary-htgreen;
          }
          &.changed {
            border: 1px solid $primary-red;
          }
        }
        @media screen and (max-width: $bp-pc__min) {
          padding-bottom: 0;
        }
      }
      @media screen and (max-width: $bp-mob) {
        padding-top: 15px;
        &__content {
          padding-left: 15px;
        }
      }
    }
    // .button-area {
    //   @include grid-col2;
    //   @media screen and (max-width: 1600px) {
    //     grid-template-columns: auto 1fr;
    //   }
    // }
  }
  /*** 한자정보 및 수정 ***/
  .ocr-info {
    .grid-article__content {
      padding: 18px 5px;
    }
  }

  #candidates {
    display: block;
    left: 10000px;
    top: 10000px;
    position: fixed;
    z-index: 1001;
    background: #eeffee;
    width: auto;
    height: auto;
    border: solid 4px #33dd66;
    text-align: center;
    border-radius: 7px;
    padding: 5px 20px 8px 20px;
    white-space: nowrap;
    font-size: 32px;
    font-family: '맑은 고딕';
    letter-spacing: 3rem;
  }
}

// * -------------------------------
// * jahyung
// * -------------------------------
.pg-jahyung {
  grid-template-columns: 2fr 1fr 250px;
  .grid-article {
    &__tit {
      display: flex;
      align-items: center;
      .button-area {
        margin-left: 65px;
      }
      @media screen and (max-width: $bp-nb__min) {
        justify-content: space-between;
        .button-area {
          margin-left: 0;
        }
      }

      @media screen and (max-width: $bp-nb__min) {
        [class*='line-button'] {
          padding-left: 5px;
          padding-right: 5px;
          & + [class*='line-button'] {
            margin-left: 3px;
          }
        }
      }
      @media screen and (max-width: $bp-tab) {
        [class*='line-button'] {
          font-size: $text-sm;
        }
      }
    }
    &__content {
      padding: 15px 20px;
      overflow: hidden;
      @media screen and (max-width: $bp-tab) {
        padding: 10px;
      }
    }
  }
  // 자형목록
  .charactor-list {
    &__filter {
      position: relative;
      width: 100%;
      height: 50px;
      margin-bottom: 15px;
      padding: 6px 12px;
      text-align: center;
      border: 1px solid #b1b1b1;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      @media screen and (min-width: $bp-mob) and (max-width: $bp-nb__min) {
        height: 68px;
      }
      @media screen and (max-width: $bp-mob) {
        height: auto;
      }
      .filter-button__clear {
        position: absolute;
        top: 0;
        right: 0;
        margin: 9px 12px;
        font-size: 14px;
        padding-left: 6px;
        padding-right: 6px;
        display: none;
      }
      .selected-filter-item {
        display: inline-block;
        width: 35px;
        height: 35px;
        margin-right: 5px;
        padding: 2px;
        @media screen and (max-width: $bp-mob) {
          width: 32px;
          height: 32px;
        }
        img {
          width: 100%;
        }
        &:hover {
          cursor: pointer;
        }
      }
      &.is-filtering {
        padding-right: 70px;
        text-align: left;
        > span.info-msg {
          display: none;
        }
        .filter-button__clear {
          display: block;
        }
      }
    }
    &__items {
      height: calc(100% - 60px);
      overflow: auto;
      @media screen and (min-width: $bp-mob) and (max-width: $bp-nb__min) {
        height: calc(100% - 83px);
      }
      .filter-item {
        position: relative;
        padding-left: 50px;
        margin-bottom: 10px;
        @media screen and (max-width: $bp-tab) {
          padding-left: 45px;
        }
        .tit {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 37px;
          height: 37px;
          margin-right: 20px;
          border-radius: 5px;
          text-align: center;
          line-height: 37px;
          font-size: 24px;
          font-weight: 700;
          @media screen and (max-width: $bp-mob) {
            width: 30px;
            height: 30px;
            margin-right: 10px;
            line-height: 30px;
            font-size: $text-xl;
          }
        }
        button {
          display: inline-block;
          width: 37px;
          height: 37px;
          margin-right: 5px;
          margin-bottom: 8px;
          padding: 3px;
          text-align: center;
          border: 1px solid $color-font05;
          border-radius: 5px;
          overflow: hidden;
          @media screen and (max-width: $bp-mob) {
            width: 30px;
            height: 30px;
          }
          img {
            width: 100%;
            height: auto;
            &.disabled {
              opacity: 0.3;
              &:hover {
                cursor: default;
              }
            }
          }
          &.is-selected,
          &:hover {
            border-width: 2px;
            border-color: $primary-red;
          }
          & + button {
            margin-left: 0;
          }
        }
        &.expanded {
          padding-left: 0px !important;
          .tit {
            position: relative;
            display: inline-block;
            margin-left: 20rem;
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
      &.is-spread {
        .filter-item {
          display: inline-block;
          & + .filter-item {
            margin-left: 20px;
          }
        }
      }
    }
  }
  // 한자 상세보기
  .charactor-txt {
    .grid-article__tit {
      justify-content: space-between;
    }
    .grid-article__content {
      overflow: hidden;
    }
    &__result {
      height: 100%;
      overflow: auto;
      &-list {
        margin-bottom: 5px;
        background-color: #f6f6f6;
        border-bottom: 1px solid $primary-ltgreen;
        border-top-left-radius: 8px;
        overflow: hidden;
      }
      &-item {
        padding: 5px 10px;
        li {
          display: inline-block;
          width: 35px;
          height: 35px;
          margin-right: 2px;
          margin-bottom: 10px;
          button {
            display: block;
            width: 100%;
            height: 100%;
            padding: 2px;
            overflow: hidden;
            border-radius: 5px;
            background-color: #fff;
            border: 1px solid $color-font05;
            font-family: $font-hanja;
            font-size: 24px;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
            &:hover,
            &.is-selected {
              border-color: $primary-red;
              border-width: 2px;
            }
          }
        }
      }
      .stroke-count {
        display: inline-block;
        padding: 6px;
        font-size: $text-md;
        line-height: 1;
        color: #fff;
        background-color: $primary-ltgreen;
        font-weight: 700;
        border-bottom-right-radius: 8px;
      }
    }
  }
  // 한자 정보 및 수정
  .charactor-info {
    .grid-article__content {
      padding: 10px;
      @media screen and (max-width: $bp-tab) {
        min-height: 250px;
        height: auto;
        overflow-y: auto;
      }
    }
    .detail-box {
      height: 100%;
      padding: 0;
      border: 0;
      &__main-result {
        padding: 0;
        .charactor {
          padding-left: 10px;
        }
      }
      &__sub {
        padding: 16px 10px;
      }
    }
  }
}

// * -------------------------------
// * API
// * -------------------------------

.pg-api {
  position: relative;
  background-color: #fafafa;
  .app-section-content {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
    padding: 35px 0;
    transition: transform 0.4s ease;
    table {
      width: 980px;
      height: 650px;
      background-color: #fff;
      tr {
        &:hover {
          background-color: #f6f6f6;
          td:nth-child(3) {
            background-color: #fff;
          }
        }
        &.is-selected {
          background-color: $primary-mdgreen;
        }
      }
      td,
      th {
        height: 65px;
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px solid rgba(6, 113, 30, 0.2);
        font-weight: 700;
      }
      th {
        border-top: 1px solid $primary-green;
        background-color: $primary-htgreen;
      }
      td + td,
      th + th {
        border-left: 1px solid rgba(6, 113, 30, 0.2);
      }
      td {
        figure.img-box__sizing {
          width: 100%;
          height: 650px;
          padding: 15px;
          text-align: center;
          img.fit-ht {
            width: auto;
            height: 100%;
          }
          img.fit-wd {
            width: 100%;
            height: auto;
          }
        }
        &:hover {
          cursor: pointer;
        }
        button {
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          font-weight: 700;
        }
      }
    }
    .api-util__buttons {
      position: relative;
      z-index: $level10;
      width: 115px;
      height: 70px;
      border: 1px solid $primary-green;
      line-height: 35px;
      border-radius: 5px;
      overflow: hidden;
      text-align: center;
      background-color: #fff;
      strong {
        position: relative;
        display: block;
        width: 100%;
        height: 35px;
        font-size: 18px;
        color: #fff;
        background-color: $primary-green;
      }
      .api-util-btn {
        position: relative;
        display: inline-block;
        width: 50%;
        height: 35px;
        font-size: 22px;
        color: $primary-green;
        vertical-align: middle;
        &::after {
          position: absolute;
          bottom: 5px;
          left: 5px;
          content: '';
          display: block;
          width: 47px;
          height: 25px;
          border-radius: 5px;
          background-color: $primary-ygreen;
          opacity: 0;
        }
        > span {
          position: relative;
          z-index: 10;
        }
        &:hover {
          &::after {
            opacity: 1;
          }
          > span {
            color: #fff;
          }
        }
        & + .api-util-btn {
          position: relative;
          margin-left: -4px;
          &::before {
            position: absolute;
            top: 10px;
            left: 0;
            content: '';
            display: block;
            width: 1px;
            height: 13px;
            background: rgba(6, 113, 30, 0.5);
          }
        }
      }
    }
    &.is-transform {
      transform: translateX(-100px);
    }
  }
  .api-txt-layer {
    position: absolute;
    top: 115px;
    left: calc(50% + 400px);
    z-index: $level20;
    width: 550px;
    height: 650px;
    padding: 0 30px;
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border: 2px solid $primary-green;
    display: none;
    &.is-active {
      display: block;
    }
    &__tit {
      padding: 30px 0 20px;
      font-size: 22px;
      font-weight: 800;
      line-height: 1;
      border-bottom: 1px solid #eaeaea;
    }
    &__cont {
      padding-top: 20px;
      font-family: $font-hanja;
      font-size: 20px;
      line-height: 32px;
    }
    .btn-close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 30px;
    }
  }
}
.app.device-pc {
  .app-header {
    left: 0;
    min-width: 1400px;
    padding: 0 20px;
  }
  .sub-page .app-header {
    left: 0;
    min-width: 1400px;
    padding: 0 20px;
  }
  .app-sub {
    display: grid;
    width: 1400px;
    margin: 0 auto;
    grid-template-columns: 60% 40%;
  }
  .app-sub__tit {
    min-width: 1400px;
  }
  .app-sub__grid {
    .grid-article__content {
      height: calc(100vh - 360rem);
      min-height: auto;
      padding-bottom: 10px;
    }
  }
  .app-footer {
    min-width: 1400px;
  }
}
