// * -------------------------------
// * Sub
// * -------------------------------

.app-sub {
  min-width: 1440px;
  padding-left: 100px;
  padding-right: 100px;
  &__grid {
    @extend .app-sub;
    display: grid;
    place-items: flex-start;
    place-content: space-between;
    grid-gap: 25px;
    padding-bottom: 40px;
    @media screen and (max-width: $bp-pc__min) {
      min-width: $bp-tab;
      padding-left: 50px;
      padding-right: 50px;
      grid-gap: 20px;
    }
    @media screen and (max-width: $bp-nb__min) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: $bp-mob) {
      display: block;
      min-width: 360px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__tit {
    @include flex-justify;
    width: 100%;
    height: 120px;
    padding-right: 70px;
    @include backImg(sub__title);
    @media screen and (max-width: $bp-pc__min) {
      height: 58px;
      padding-right: 35px;
    }
    @media screen and (max-width: $bp-mob) {
      padding-right: 20px;
    }
    h1 {
      font-size: $heading-lg;
      line-height: 1;
      &::before {
        content: '';
        display: inline-block;
        width: 80px;
        height: 10px;
        background-color: $primary-green;
        margin-right: 20px;
        vertical-align: middle;
      }
      @media screen and (max-width: $bp-pc__min) {
        font-size: $heading-md;
        &::before {
          width: 40px;
          margin-right: 10px;
        }
      }
      @media screen and (max-width: $bp-mob) {
        font-size: 22px;
        &::before {
          width: 20px;
          height: 6px;
        }
      }
    }
  }
}
.grid-article {
  position: relative;
  width: 100%;
  &__tit {
    padding: 40px 0 20px;
    font-size: $heading-md;
    line-height: 1;
    color: $primary-green;
    @media screen and (max-width: $bp-pc__min) {
      padding-top: 30px;
      padding-bottom: 15px;
      font-size: $heading-sm;
    }
    @media screen and (max-width: $bp-mob) {
      font-size: $heading-sm;
    }
  }
  &__content {
    min-height: 800px;
    height: calc(100vh - $subExcept);
    // max-height: calc(100vh - $subExcept);
    padding-bottom: 80px;
    border: 1px solid $primary-green;
    border-top-width: 10px;
    background-color: #fff;
    @media screen and (max-width: $bp-pc__min) {
      // min-height: 550px;
      border-top-width: 8px;
    }
    @media screen and (max-height: 850px) {
      min-height: 520px;
      height: calc(100vh - 245rem);
    }
    @media screen and (max-width: $bp-mob) {
      min-height: 400px;
      height: 40vh;
      padding-bottom: 65px;
    }
  }
  &.is-disabled {
    .grid-article__tit {
      font-weight: 400;
      color: $line-color;
    }
    .grid-article__content {
      border-color: $line-color02;
      background-color: $color-bg;
      [class*='-button'] {
        background-color: $line-color;
      }
    }
    .button-area button:hover {
      cursor: default;
    }
  }
}

// * -------------------------------
// * OCR
// * -------------------------------

.pg-ocr {
  grid-template-columns: 1fr 1fr 350px;
  @media screen and (max-width: $bp-pc__min) {
    grid-template-columns: 1fr 1fr 320rem;
  }
  .grid-article:not(.ocr-info) .button-area {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 20px;
    [class*='-button'] {
      width: 100%;
      & + [class*='-button'] {
        margin-left: 0;
      }
    }
    @media screen and (max-width: 1480px) {
      font-size: 16px;
    }
    @media screen and (max-width: $bp-pc__min) {
      padding: 15px;
      [class*='-button'] {
        width: 100%;
        height: 40px;
        [class^='icon-'] {
          transform: scale(0.7);
        }
      }
    }
    @media screen and (max-width: $bp-nb) {
      [class*='-button'] {
        font-size: 15px;
        padding-left: 6px;
        padding-right: 6px;
      }
    }
  }

  &__tit {
    display: flex;
    align-items: center;
  }
  &__content {
    padding: 18px 20px;
  }
  /*** 원본 이미지 ***/
  .ocr-img {
    .grid-article__content {
      padding: 10px 10px 80px 10px;
    }
    .img-box {
      position: relative;
      width: 100%;
      height: 100%;
      padding-bottom: 36px;
      border: 1px solid #c8ddcc;
      overflow: hidden;
      .img-upload-info {
        display: block;
        text-align: center;
        width: 330px;
        height: 300px;
        margin: 180px auto 0;
        padding-top: 94px;
        background: #ffffff;
        border: 3px dashed $line-color;
        border-radius: 30px;
        font-size: 24px;
        line-height: 28px;
        color: $line-color;
        & + .info-msg {
          margin-top: 30px;
        }
        &:hover {
          cursor: pointer;
        }
        @media screen and (max-width: $bp-nb) {
          width: 200px;
          height: 200px;
          margin: 120px auto 0;
          padding-top: 58px;
        }
        @media screen and (max-width: $bp-mob) {
          display: none;
        }
      }
      .img-wrap {
        position: relative;
        width: 100%;
        height: 100%;
        figure {
          width: 100%;
          height: 100%;
          > img {
            max-height: 100%;
            min-height: 300px;
            vertical-align: middle;
            position: absolute;
            top: 50%;
            left: 50%;
            height: auto;
            transform: translate(-50%, -50%);
          }
        }
      }
      .segment-label {
        position: absolute;
        left: 0;
        bottom: 0;
        @include flex-justify;
        width: 100%;
        height: 36px;
        padding: 0 20px;
        font-size: 14px;
        line-height: 36px;
        // @include ellipsis(100% - 90px);
        background-color: $primary-htgreen;
        &:hover {
          cursor: pointer;
        }
        span:not(.form-selector) {
          display: inline-block;
          width: calc(100% - 120px);
          text-align: left;
          @include ellipsis(100%);
        }
        .form-selector {
          margin-top: 4px;
        }
      }
      .box-mark {
        position: absolute;
        width: 26px;
        height: 26px;
        border: 2px solid $primary-green;
        &:hover,
        &.box_selected {
          border-color: $primary-red;
        }
        &.box_selected {
          background-color: #06711e5e;
        }
      }
    }
  }
  /*** 원본 텍스트 ***/
  .ocr-txt {
    .txt-box {
      height: 100%;
      padding: 30px 5px;
      overflow: hidden;
      &__content {
        height: 100%;
        padding: 0 10px 0 30px;
        overflow: auto;
        > span {
          position: relative;
          z-index: $level10;
          display: inline-block;
          width: auto;
          height: 32px;
          margin-right: -3px;
          font-size: 24px;
          font-family: $font-hanja;
          text-align: center;
          line-height: 24px;
          border: 1px solid #fff;
          cursor: pointer;
          &:hover,
          &.is-selected {
            border-color: $color-font02;
          }
          &.is-selected {
            width: 32px;
            border-width: 2px;
            background-color: $primary-htgreen;
          }
          &.changed {
            border: 1px solid $primary-red;
          }
        }
        @media screen and (max-width: $bp-pc__min) {
          padding-bottom: 0;
        }
      }
      @media screen and (max-width: $bp-mob) {
        padding-top: 15px;
        &__content {
          padding-left: 15px;
        }
      }
    }
    .button-area {
      @include grid-col2;
      @media screen and (max-width: 1600px) {
        grid-template-columns: auto 1fr;
      }
    }
  }
  /*** 한자정보 및 수정 ***/
  .ocr-info {
    .grid-article__content {
      padding: 18px 5px;
    }
  }

  #candidates {
    display: block;
    left: 10000px;
    top: 10000px;
    position: fixed;
    z-index: 1001;
    background: #eeffee;
    width: auto;
    height: auto;
    border: solid 4px #33dd66;
    text-align: center;
    border-radius: 7px;
    padding: 5px 20px 8px 20px;
    white-space: nowrap;
    font-size: 32px;
    font-family: '맑은 고딕';
    letter-spacing: 1rem;
  }
}

// * -------------------------------
// * jahyung
// * -------------------------------
.pg-jahyung {
  grid-template-columns: 1fr 1fr 200px;
  .grid-article {
    &__tit {
      display: flex;
      align-items: center;
      .button-area {
        margin-left: 65px;
      }
      @media screen and (max-width: $bp-nb__min) {
        justify-content: space-between;
        .button-area {
          margin-left: 0;
        }
      }

      @media screen and (max-width: $bp-nb__min) {
        [class*='line-button'] {
          padding-left: 5px;
          padding-right: 5px;
          & + [class*='line-button'] {
            margin-left: 3px;
          }
        }
      }
      @media screen and (max-width: $bp-tab) {
        [class*='line-button'] {
          font-size: $text-sm;
        }
      }
    }
    &__content {
      padding: 15px 20px;
      overflow: hidden;
    }
  }
  // 자형목록
  .charactor-list {
    max-width: 970px;
    &__filter {
      position: relative;
      width: 100%;
      height: 50px;
      margin-bottom: 15px;
      padding: 6px 12px;
      text-align: center;
      border: 1px solid #b1b1b1;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      @media screen and (min-width: $bp-mob) and (max-width: $bp-nb__min) {
        height: 68px;
      }
      .filter-button__clear {
        position: absolute;
        top: 0;
        right: 0;
        margin: 9px 12px;
        font-size: 14px;
        padding-left: 6px;
        padding-right: 6px;
        display: none;
      }
      .selected-filter-item {
        display: inline-block;
        width: 35px;
        height: 35px;
        margin-right: 5px;
        padding: 2px;
        img {
          width: 100%;
        }
      }
      &.is-filtering {
        padding-right: 70px;
        text-align: left;
        > span.info-msg {
          display: none;
        }
        .filter-button__clear {
          display: block;
        }
      }
    }
    &__items {
      height: calc(100% - 60px);
      overflow: auto;
      @media screen and (min-width: $bp-mob) and (max-width: $bp-nb__min) {
        height: calc(100% - 83px);
      }
      .filter-item {
        position: relative;
        padding-left: 58px;
        margin-bottom: 10px;
        .tit {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 38px;
          height: 38px;
          margin-right: 20px;
          border-radius: 5px;
          background-color: #e7e7e7;
          text-align: center;
          line-height: 38px;
          font-size: 24px;
          font-weight: 600;
        }
        button {
          display: inline-block;
          width: 40px;
          height: 40px;
          margin-right: 5px;
          margin-bottom: 8px;
          padding: 3px;
          text-align: center;
          border: 1px solid $color-font05;
          border-radius: 5px;
          overflow: hidden;
          img {
            width: 100%;
            height: auto;
            &.disabled {
              opacity: 0.3;
            }
          }
          &.is-selected,
          &:hover {
            border-width: 2px;
            border-color: $primary-red;
          }
          & + button {
            margin-left: 0;
          }
        }
        &.expanded {
          padding-left: 0px !important;
          .tit {
            position: relative;
            display: inline-block;
            margin-left: 20rem;
          }
        }
      }
      &.is-spread {
        .filter-item {
          display: inline-block;
          & + .filter-item {
            margin-left: 20px;
          }
        }
      }
    }
  }
  // 한자 상세보기
  .charactor-txt {
    .grid-article__tit {
      justify-content: space-between;
    }
    .grid-article__content {
      overflow: hidden;
    }
    &__result {
      height: 100%;
      overflow: auto;
      &-list {
        margin-bottom: 5px;
        background-color: #f6f6f6;
        border-bottom: 1px solid $primary-ltgreen;
        border-top-left-radius: 8px;
        overflow: hidden;
      }
      &-item {
        padding: 5px 10px;
        li {
          display: inline-block;
          width: 35px;
          height: 35px;
          margin-right: 2px;
          margin-bottom: 10px;
          button {
            display: block;
            width: 100%;
            height: 100%;
            padding: 2px;
            overflow: hidden;
            border-radius: 5px;
            background-color: #fff;
            border: 1px solid $color-font05;
            font-family: $font-hanja;
            font-size: 24px;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
            &:hover,
            &.is-selected {
              border-color: $primary-red;
              border-width: 2px;
            }
          }
        }
      }
      .stroke-count {
        display: inline-block;
        padding: 6px;
        font-size: $text-md;
        line-height: 1;
        color: #fff;
        background-color: $primary-ltgreen;
        font-weight: 600;
        border-bottom-right-radius: 8px;
      }
    }
  }
  // 한자 정보 및 수정
  .charactor-info {
    .grid-article__content {
      padding: 10px;
    }
    .detail-box {
      height: 100%;
      padding: 0;
      border: 0;
      &__main-result {
        padding: 0;
        border: 0;
      }
      &__sub {
        padding: 16px 10px;
      }
    }
  }
}
