[data-theme='orange'] {
  .app-header {
    [class*='line-button'] {
      &[data-theme='green'] {
        color: $primary-org;
        border-color: $primary-org;
      }
    }
  }
  .app-sub__tit h1::before {
    background-color: $primary-org;
  }
  .app-footer {
    background-color: $primary-org;
    &-msg {
      color: $primary-org;
    }
    [data-theme='white'].line-button--md {
      background-color: $primary-org;
      color: #fff;
      border-color: #fff;
    }
  }
  /* ScrollBar */
  ::-webkit-scrollbar-thumb {
    background-color: $primary-ltorg;
  }
  textarea::-webkit-scrollbar-thumb {
    background-color: $primary-ltorg;
  }
  .grid-article__tit {
    color: $primary-org;
  }
  .grid-article__content {
    border-color: $primary-org;
  }
  // pg-jahyung
  .charactor-list__items .filter-item .tit {
    background-color: $primary-htorg;
  }
  .charactor-txt__result .stroke-count {
    background-color: $primary-mdorg;
  }
  .detail-tags .tag-label,
  .detail-tags .tag-label--sm {
    color: $primary-org;
    border-color: $primary-org;
  }
}
