//Device
$bp-pc: 1440px;
$bp-nb: 1439px;
$bp-tab: 1023px;
$bp-mob: 768px;

$sqrt_2: 1.41421356237;

// SIZE (xl > lg > md > sm > xs)
$heading-xl: 58px;
$heading-lg: 42px;
$heading-md: 28px;
$heading-sm: 18px;

$text-xl: 20px;
$text-lg: 18px;
$text-md: 16px;
$text-sm: 14px;
$text-xs: 12px;

// COLOR
$primary-green: #06711e;
$primary-ltgreen: #509d5f;
$primary-htgreen: #dff1dc;
$primary-red: #bf0000;
$dim-color: rgba(0, 0, 0, 0.8);
$line-color: #bbbbbb;
$line-color02: #ababab;
$line-color03: #ccc;
$color-bg: #eeeeee;
$color-font: #000;
$color-font02: #222;
$color-font03: #333;
$color-font04: #666;
$color-font05: #999;
$placeholder: #999;
$color-white: #fff;

// z-index Level
$level10: 1;
$level20: 10; //activated element (select)
$level30: 50; //Tooltip
$level40: 100; //App-header
$level50: 150; //Skip-nav
$level60: 200; //btn-top(globalnetwork)
$level70: 250; //All-Menu
$level80: 300; //Layered(Page)
$level90: 350; //Layered(Notice)
$level100: 400; //Cookie Information

// $bp-3rd: 768px;
// Easing
$easing: cubic-bezier(0.52, 0.16, 0.24, 1);

// Path
$fontPath: '../fonts/';
