//Device
$breakpoint-small-desktop: 1440px;
$breakpoint-big-desktop: 1921px;

$sqrt_2: 1.41421356237;

// SIZE (xl > lg > md > sm > xs)
$heading-xl: 58rem;
$heading-lg: 42rem;
$heading-md: 28rem;
$heading-sm: 18rem;

$text-lg: 18rem;
$text-md: 16rem;
$text-sm: 14rem;
$text-xs: 12rem;

// COLOR
$primary-green: #06711e;
$primary-ltgreen: #509d5f;
$primary-htgreen: #dff1dc;
$primary-red: #bf0000;
$dim-color: rgba(0, 0, 0, 0.8);
$line-color: #bbbbbb;
$line-color02: #ababab;
$line-color03: #ccc;
$color-bg: #f4f4f4;
$color-font: #000;
$color-font02: #222;
$color-font03: #333;
$color-font04: #999;
$placeholder: #999999;
$color-white: #fff;

// z-index Level
$level10: 1;
$level20: 10; //activated element (select)
$level30: 50; //Tooltip
$level40: 100; //App-header
$level50: 150; //Skip-nav
$level60: 200; //btn-top(globalnetwork)
$level70: 250; //All-Menu
$level80: 300; //Layered(Page)
$level90: 350; //Layered(Notice)
$level100: 400; //Cookie Information

// Easing
$easing: cubic-bezier(0.52, 0.16, 0.24, 1);
