  [class^=icon-] { display: inline-block; flex-shrink: 0; background-image: url(../images/sprite.png); background-repeat: no-repeat; background-size:385px
  95px; white-space:nowrap; text-indent:200%; overflow:hidden; vertical-align:middle}

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { [class^=icon-sprite] { background-image: url(../images/sprite@2x.png); } }

  .icon-app-footer__ci{ width:120px; height:44px; background-position:
  0px
  -51px; }
  .icon-app-footer__ci_m{ width:100px; height:38px; background-position:
  -130px
  -51px; }
  .icon-app-header__ci{ width:219px; height:24px; background-position:
  -166px
  0px; }
  .icon-app-header__ci_m{ width:156px; height:41px; background-position:
  0px
  0px; }
  .icon-file-img{ width:32px; height:28px; background-position:
  -240px
  -51px; }
